Test_Bucket/DNS_Testing.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "fbafa4b1-ed86-39fe-b750-bb990121cb23",
            "instanceIdentifier" : "00279381-0181-1000-0000-00007f68dc7e",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "a2783acc-ec69-353b-b1ed-4234ab519b3c",
          "instanceIdentifier" : "0027d060-0181-1000-0000-00004320552a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "30c1c8ac-a3ae-3abe-b50d-f1bd45662843",
            "instanceIdentifier" : "00263a6f-0181-1000-0000-000071a431b0",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "67f0d582-31d0-35ae-82c3-c2a43277e8bb",
            "instanceIdentifier" : "00fcbe3d-0181-1000-ffff-ffff8a31f49c",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "93c02433-667f-3f51-ad36-819f840b7610",
          "instanceIdentifier" : "010cf393-0181-1000-0000-0000322f9b60",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "f5d65f72-b94b-3414-abaf-c2b72f1a4292",
            "instanceIdentifier" : "010b7e90-0181-1000-ffff-ffffacb17d41",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "fbafa4b1-ed86-39fe-b750-bb990121cb23",
            "instanceIdentifier" : "00279381-0181-1000-0000-00007f68dc7e",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "03036d8f-db14-34a8-85a1-e91447517542",
          "instanceIdentifier" : "012c476f-0181-1000-ffff-ffffcbf56710",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "f5d65f72-b94b-3414-abaf-c2b72f1a4292",
            "instanceIdentifier" : "010b7e90-0181-1000-ffff-ffffacb17d41",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "30c1c8ac-a3ae-3abe-b50d-f1bd45662843",
            "instanceIdentifier" : "00263a6f-0181-1000-0000-000071a431b0",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "dbcaf8fe-0c25-3175-b45b-7cf124ecf435",
          "instanceIdentifier" : "0027b323-0181-1000-0000-0000710dc3b4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "e29d28c5-ac41-3f85-b244-e795f9425f44",
            "instanceIdentifier" : "002592f9-0181-1000-ffff-ffffda470ccc",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "f5d65f72-b94b-3414-abaf-c2b72f1a4292",
            "instanceIdentifier" : "010b7e90-0181-1000-ffff-ffffacb17d41",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "8502e4aa-9cd1-3db9-b7ad-4c6a1be21ff2",
          "instanceIdentifier" : "0027e598-0181-1000-ffff-fffff5122bec",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
            "id" : "30c1c8ac-a3ae-3abe-b50d-f1bd45662843",
            "instanceIdentifier" : "00263a6f-0181-1000-0000-000071a431b0",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "d511e457-98fb-3ee3-9266-ce6aeaf42ac6",
          "instanceIdentifier" : "001e0b78-0181-1000-0000-00005235f97c",
          "name" : "GrokReader",
          "properties" : {
            "Grok Expression" : "^%{DNS_MESSAGE_HEADER}\\s+%{DNS_MESSAGE_BODY}$",
            "Grok Pattern File" : "custom/grok/dns-test-patterns.grok",
            "schema-name" : "${schema.name}",
            "schema-registry" : "45d32f94-293c-3b1a-aee6-afd171039a34",
            "no-match-behavior" : "raw-line",
            "schema-access-strategy" : "string-fields-from-grok-expression",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Grok Expression" : {
              "displayName" : "Grok Expression",
              "identifiesControllerService" : false,
              "name" : "Grok Expression",
              "sensitive" : false
            },
            "Grok Pattern File" : {
              "displayName" : "Grok Pattern File",
              "identifiesControllerService" : false,
              "name" : "Grok Pattern File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "no-match-behavior" : {
              "displayName" : "No Match Behavior",
              "identifiesControllerService" : false,
              "name" : "no-match-behavior",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.grok.GrokReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "6e7e38b5-f3cb-3a9b-84ff-a946c92ebb42",
          "instanceIdentifier" : "0020161d-0181-1000-ffff-ffffb2acf0ad",
          "name" : "InheritJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "true",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-registry-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
          } ],
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "45d32f94-293c-3b1a-aee6-afd171039a34",
          "instanceIdentifier" : "00b6d03d-0181-1000-0000-00001dc71de9",
          "name" : "AvroSchemaRegistry",
          "properties" : {
            "avro-reg-validated-field-names" : "true",
            "logbeat_dns_raw" : "{\n  \"name\": \"logbeat_dns_raw\",\n  \"type\": \"record\",\n  \"namespace\": \"org.github.hindmasj\",\n  \"fields\": [\n    {\n      \"name\": \"event_facility_id\",\n      \"type\": \"int\"\n    },\n    {\n      \"name\": \"event_ts_collection\",\n      \"type\": \"string\",\n      \"logicalType\": \"date\"\n    },\n    {\n      \"name\": \"device_gen_addr_ipv4\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"device_gen_hostname\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"device_gen_hostname_tmp\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"dns_json_body_tmp\",\n      \"type\": {\n        \"name\": \"dns_json_body_tmp\",\n        \"type\": \"record\",\n        \"fields\": [\n          {\"name\": \"domain_reply_code\",\"type\": \"string\"},\n          {\"name\": \"dns_tag\",\"type\": \"string\"},\n          {\"name\": \"dns_message_type\",\"type\": \"string\"},\n          {\"name\": \"timestamp\",\"type\": \"int\",\"logicalType\": \"date\"},\n          {\"name\": \"device_src_addr_ipv4\",\"type\": \"string\"},\n          {\"name\": \"event_external_id\",\"type\": \"string\"},\n          {\"name\": \"network_transport\",\"type\": \"string\"},\n          {\"name\": \"process_DNS_id\",\"type\": \"string\"},\n          {\"name\": \"dns_op_code\",\"type\": \"string\"},\n          {\"name\": \"domain_query\",\"type\": \"string\"},\n          {\"name\": \"event_ts\",\"type\": \"string\"},\n          {\"name\": \"host\",\"type\": {\n            \"name\": \"host\",\"type\": \"record\",\"fields\": [\n              {\"name\": \"name\",\"type\": \"string\"}\n            ]}\n          },\n          {\"name\": \"fields\",\"type\": {\n            \"name\": \"fields\",\"type\": \"record\",\"fields\": [\n              {\"name\": \"event_label\",\"type\": \"string\"}\n            ]}\n          },\n          {\"name\": \"domain_resource_record_type\",\"type\": \"string\"}\n        ]\n      }\n    },\n    {\n      \"name\": \"event_raw\",\n      \"type\": \"string\"\n    }\n  ]\n}\n",
            "logbeat_dns_body" : "{\n  \"name\": \"logbeat_dns_body\",\n  \"type\": \"record\",\n  \"namespace\": \"org.github.hindmasj\",\n  \"fields\": [\n    {\n      \"name\": \"domain_reply_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"dns_tag\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"dns_message_type\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"timestamp\",\n      \"type\": \"int\",\n      \"logicalType\": \"date\"\n    },\n    {\n      \"name\": \"device_src_addr_ipv4\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"event_external_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"network_transport\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"process_DNS_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"dns_op_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"domain_query\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"event_ts\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"host\",\n      \"type\": {\n        \"name\": \"host\",\n        \"type\": \"record\",\n        \"fields\": [\n          {\n            \"name\": \"name\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n    },\n    {\n      \"name\": \"fields\",\n      \"type\": {\n        \"name\": \"fields\",\n        \"type\": \"record\",\n        \"fields\": [\n          {\n            \"name\": \"event_label\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n    },\n    {\n      \"name\": \"domain_resource_record_type\",\n      \"type\": \"string\"\n    }\n  ]\n}\n"
          },
          "propertyDescriptors" : {
            "avro-reg-validated-field-names" : {
              "displayName" : "Validate Field Names",
              "identifiesControllerService" : false,
              "name" : "avro-reg-validated-field-names",
              "sensitive" : false
            },
            "logbeat_dns_raw" : {
              "displayName" : "logbeat_dns_raw",
              "identifiesControllerService" : false,
              "name" : "logbeat_dns_raw",
              "sensitive" : false
            },
            "logbeat_dns_body" : {
              "displayName" : "logbeat_dns_body",
              "identifiesControllerService" : false,
              "name" : "logbeat_dns_body",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "21b39a04-6d87-385c-a9f1-ab5a9eb82156",
          "instanceIdentifier" : "001fa1e9-0181-1000-ffff-ffff9feff63c",
          "name" : "InferJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "75458fc2-cf11-3176-9e16-1ae176e1fea6",
          "instanceIdentifier" : "01159a41-0181-1000-0000-0000710c3ed9",
          "name" : "SchemaJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "true",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-registry" : "45d32f94-293c-3b1a-aee6-afd171039a34",
            "schema-access-strategy" : "schema-name",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "fbafa4b1-ed86-39fe-b750-bb990121cb23",
          "instanceIdentifier" : "00279381-0181-1000-0000-00007f68dc7e",
          "position" : {
            "x" : 1160.0,
            "y" : 376.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "67f0d582-31d0-35ae-82c3-c2a43277e8bb",
          "instanceIdentifier" : "00fcbe3d-0181-1000-ffff-ffff8a31f49c",
          "position" : {
            "x" : 584.0,
            "y" : 720.0
          }
        } ],
        "identifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
        "inputPorts" : [ ],
        "instanceIdentifier" : "0008c394-0181-1000-ffff-fffff666d6c8",
        "labels" : [ ],
        "name" : "DNS Testing",
        "outputPorts" : [ ],
        "position" : {
          "x" : 688.0,
          "y" : 248.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "f5d65f72-b94b-3414-abaf-c2b72f1a4292",
          "instanceIdentifier" : "010b7e90-0181-1000-ffff-ffffacb17d41",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 432.0,
            "y" : 456.0
          },
          "properties" : {
            "/event_raw" : "/_raw",
            "record-writer" : "75458fc2-cf11-3176-9e16-1ae176e1fea6",
            "/dns_json_body_tmp" : "unescapeJson(/dns_json_body_tmp)",
            "record-reader" : "21b39a04-6d87-385c-a9f1-ab5a9eb82156",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/event_raw" : {
              "displayName" : "/event_raw",
              "identifiesControllerService" : false,
              "name" : "/event_raw",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "/dns_json_body_tmp" : {
              "displayName" : "/dns_json_body_tmp",
              "identifiesControllerService" : false,
              "name" : "/dns_json_body_tmp",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "30c1c8ac-a3ae-3abe-b50d-f1bd45662843",
          "instanceIdentifier" : "00263a6f-0181-1000-0000-000071a431b0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PartitionRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 432.0,
            "y" : 232.0
          },
          "properties" : {
            "record-writer" : "6e7e38b5-f3cb-3a9b-84ff-a946c92ebb42",
            "isValid" : "not(isEmpty(/event_facility_id))",
            "record-reader" : "d511e457-98fb-3ee3-9266-ce6aeaf42ac6"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "isValid" : {
              "displayName" : "isValid",
              "identifiesControllerService" : false,
              "name" : "isValid",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PartitionRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "08290c8c-fa1a-3b7e-b87b-c620f23e59a5",
          "identifier" : "e29d28c5-ac41-3f85-b244-e795f9425f44",
          "instanceIdentifier" : "002592f9-0181-1000-ffff-ffffda470ccc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 432.0,
            "y" : 0.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "<12>May 24 23:00:04 abc123x.cnet.myco.co.uk {\"name\": \"XYZ001\"} LOGSTASH[-]: {\"domain_reply_code\":\"8085 A DR  NOERROR\",\"dns_tag\":\"09d2\",\"dns_message_type\":\"R\",\"@timestamp\":\"2022-05-24T23:00:04.974Z\",\"device_src_addr_ipv4\":\"192.168.0.1\",\"event_external_id\":\"000000123456\",\"network_transport\":\"UDP\",\"process_DNS_id\":\"12DC\",\"dns_op_code\":\"Q\",\"domain_query\":\"(3)192(3)168(2)12(1)8(7)in-addr(4)arpa(0)\",\"event_ts\":\"5/25/2022 12:00:03 AM\",\"host\":{\"name\":\"XYZ001\"},\"fields\":{\"event_label\":\"CNet_DNS\"},\"domain_resource_record_type\":\"AAAA\"}\n<13>May 24 23:00:04 abc123x.cnet.myco.co.uk {\"name\": \"XYZ001\"} LOGSTASH[-]: {\"domain_reply_code\":\"8086 A DR  NOERROR\",\"dns_tag\":\"09d2\",\"dns_message_type\":\"R\",\"@timestamp\":\"2022-05-24T23:00:04.974Z\",\"device_src_addr_ipv4\":\"192.168.0.1\",\"event_external_id\":\"000000123456\",\"network_transport\":\"UDP\",\"process_DNS_id\":\"12DC\",\"dns_op_code\":\"Q\",\"domain_query\":\"(3)192(3)168(2)12(1)8(7)in-addr(4)arpa(0)\",\"event_ts\":\"5/25/2022 12:00:03 AM\",\"host\":{\"name\":\"XYZ001\"},\"fields\":{\"event_label\":\"CNet_DNS\"},\"domain_resource_record_type\":\"AAAA\"}\n<14>May 24 23:00:04 abc123x.cnet.myco.co.uk {\"name\": \"XYZ001\"} LOGSTASH[-]: {\"domain_reply_code\":\"8087 A DR  NOERROR\",\"dns_tag\":\"09d2\",\"dns_message_type\":\"R\",\"@timestamp\":\"2022-05-24T23:00:04.974Z\",\"device_src_addr_ipv4\":\"192.168.0.1\",\"event_external_id\":\"000000123456\",\"network_transport\":\"UDP\",\"process_DNS_id\":\"12DC\",\"dns_op_code\":\"Q\",\"domain_query\":\"(3)192(3)168(2)12(1)8(7)in-addr(4)arpa(0)\",\"event_ts\":\"5/25/2022 12:00:03 AM\",\"host\":{\"name\":\"XYZ001\"},\"fields\":{\"event_label\":\"CNet_DNS\"},\"domain_resource_record_type\":\"AAAA\"}\nThis is a bad message",
            "Batch Size" : "1",
            "schema.name" : "logbeat_dns_raw",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "schema.name" : {
              "displayName" : "schema.name",
              "identifiesControllerService" : false,
              "name" : "schema.name",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}