Test_Bucket/JSON_Test_Bed.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "53d863ed-7e51-3096-91fb-7da04fbdc2dc",
            "instanceIdentifier" : "0865abec-fe8d-3c41-a52e-e11960fda166",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "cb7f7d49-85d0-33cb-bdac-207477c898c4",
          "instanceIdentifier" : "2241d3e0-19a4-36e5-bd2b-eb6b581c92b2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "004a6e64-b25e-3a3d-b832-b520afd23ca5",
            "instanceIdentifier" : "5cfb8473-529a-3140-b237-33fb99ef386f",
            "name" : "UpdateRecord - service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "a5563374-e8e7-3e76-be62-b80c7b8390ff",
          "instanceIdentifier" : "581fda74-ee99-3aed-b437-c204f1bce516",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "50375670-b056-3c1d-89be-0077cc03ca61",
            "instanceIdentifier" : "2a5f8974-d06b-34cb-a772-6594dc95259f",
            "name" : "UpdateRecord - transport",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "4b21c7f5-ea9b-3f9d-a5c8-28117d9a5492",
            "instanceIdentifier" : "9d2bb065-99d2-3be4-a60a-58c3cc7e539a",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "8e229e15-e018-3e22-8ed2-b8e696515cfe",
          "instanceIdentifier" : "118e87f6-3c28-384e-a46a-4b893f533beb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "53d863ed-7e51-3096-91fb-7da04fbdc2dc",
            "instanceIdentifier" : "0865abec-fe8d-3c41-a52e-e11960fda166",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "8ed99465-dc3b-3dd0-b33d-5c7c80392c23",
          "instanceIdentifier" : "f00a0bcf-a348-37af-8b74-55a085f9bade",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "26dcabc4-c320-3439-a00d-bfa6b45bf0ab",
            "instanceIdentifier" : "2a22b5ea-b986-3fc7-8fea-efd6e516c1c1",
            "name" : "LookupRecord - source service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "9e186b86-ad39-3581-af83-2211a64cbefc",
            "instanceIdentifier" : "b01ec8c0-781c-3bc3-8d64-a2f91fe37e4e",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "77d13086-8ef2-34c5-935a-3d0a364bc278",
          "instanceIdentifier" : "062fc654-7338-38a1-9a1c-61a76be6b745",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "filtered" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "32b2171c-b435-35a4-a372-66eed8b9c33c",
            "instanceIdentifier" : "cdb78037-9af6-38d6-b697-41b5e47de294",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "31345962-c01e-36ce-b56a-d44d1435ab0f",
          "instanceIdentifier" : "7cc1d84d-6422-3d72-975f-397dcba2d47e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "32b2171c-b435-35a4-a372-66eed8b9c33c",
            "instanceIdentifier" : "cdb78037-9af6-38d6-b697-41b5e47de294",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9",
            "instanceIdentifier" : "a6562d20-4def-3876-8889-381ed85df262",
            "name" : "LookupRecord - destination service",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "9009f35f-0839-304e-a21b-6748b10d5a6d",
          "instanceIdentifier" : "aa09f559-bf07-31b1-8869-0e4b077c3929",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "26dcabc4-c320-3439-a00d-bfa6b45bf0ab",
            "instanceIdentifier" : "2a22b5ea-b986-3fc7-8fea-efd6e516c1c1",
            "name" : "LookupRecord - source service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "49a2026a-3428-3c92-8fa9-e326471b1484",
          "instanceIdentifier" : "85a3abe8-9ef7-3313-b6f1-7a6b078aa36e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "004a6e64-b25e-3a3d-b832-b520afd23ca5",
            "instanceIdentifier" : "5cfb8473-529a-3140-b237-33fb99ef386f",
            "name" : "UpdateRecord - service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca",
            "instanceIdentifier" : "bea791b6-ff72-331a-be60-3210e8089692",
            "name" : "LookupRecord - transport",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "2c842377-b500-31b1-8efe-8ae957cdda48",
          "instanceIdentifier" : "22d988c8-597a-3dc6-8e3a-7258afeb66e9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "9e186b86-ad39-3581-af83-2211a64cbefc",
            "instanceIdentifier" : "b01ec8c0-781c-3bc3-8d64-a2f91fe37e4e",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "1076e820-4903-379c-9660-bfd169e34b5d",
          "instanceIdentifier" : "c47d0b06-8d50-3ea7-8a68-c1d8f78f1d89",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca",
            "instanceIdentifier" : "bea791b6-ff72-331a-be60-3210e8089692",
            "name" : "LookupRecord - transport",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "26dcabc4-c320-3439-a00d-bfa6b45bf0ab",
            "instanceIdentifier" : "2a22b5ea-b986-3fc7-8fea-efd6e516c1c1",
            "name" : "LookupRecord - source service",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "db24deab-2eae-38b0-998e-0f7e83b270a1",
          "instanceIdentifier" : "548316ca-05f0-39d1-957a-84795808de38",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "50375670-b056-3c1d-89be-0077cc03ca61",
            "instanceIdentifier" : "2a5f8974-d06b-34cb-a772-6594dc95259f",
            "name" : "UpdateRecord - transport",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "23d84bb8-b93e-357b-b91e-edda8bb2507c",
          "instanceIdentifier" : "fff629ae-5603-3a6d-a341-d042e25ee541",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "9e186b86-ad39-3581-af83-2211a64cbefc",
            "instanceIdentifier" : "b01ec8c0-781c-3bc3-8d64-a2f91fe37e4e",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "50375670-b056-3c1d-89be-0077cc03ca61",
            "instanceIdentifier" : "2a5f8974-d06b-34cb-a772-6594dc95259f",
            "name" : "UpdateRecord - transport",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "86b0f8a5-fa7e-31bd-9bae-7589c03f90c2",
          "instanceIdentifier" : "835180ff-6621-33d7-9526-6984c782721f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca",
            "instanceIdentifier" : "bea791b6-ff72-331a-be60-3210e8089692",
            "name" : "LookupRecord - transport",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "e92abd81-bd20-3558-92a4-7e1101882cf7",
          "instanceIdentifier" : "1d2992b9-0180-1000-ffff-ffffe600d8e0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "53d863ed-7e51-3096-91fb-7da04fbdc2dc",
            "instanceIdentifier" : "0865abec-fe8d-3c41-a52e-e11960fda166",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
            "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "5916d4fe-8b72-345b-aae3-0db6184a5dd9",
          "instanceIdentifier" : "3d6b5599-8af0-3fde-83b0-88e588d1dcda",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9",
            "instanceIdentifier" : "a6562d20-4def-3876-8889-381ed85df262",
            "name" : "LookupRecord - destination service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "004a6e64-b25e-3a3d-b832-b520afd23ca5",
            "instanceIdentifier" : "5cfb8473-529a-3140-b237-33fb99ef386f",
            "name" : "UpdateRecord - service",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "bde70539-2e8e-30a8-8db5-eb05bb2ebef8",
          "instanceIdentifier" : "4089e59b-8e3e-3a31-96ca-de952fb8f304",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9",
            "instanceIdentifier" : "a6562d20-4def-3876-8889-381ed85df262",
            "name" : "LookupRecord - destination service",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "c8ae0a46-883d-3cd6-87e7-1afbac1f75a4",
            "instanceIdentifier" : "7c95b5e3-d8d1-3fa0-8926-fc7e644da830",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "4a3685b3-1efb-3fc6-993e-1286b4b7b327",
          "instanceIdentifier" : "f8e50313-1b0d-3189-94e3-a5653354b98c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "01102c76-abcd-34d2-ba48-71a00cf0c164",
            "instanceIdentifier" : "03f46a43-1f55-36a6-a9fb-697bc18b1c57",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "32b2171c-b435-35a4-a372-66eed8b9c33c",
            "instanceIdentifier" : "cdb78037-9af6-38d6-b697-41b5e47de294",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "88176e99-5cda-33b7-b53c-40af622c3d39",
          "instanceIdentifier" : "bdab2148-bb61-3608-8e79-dd76822170b5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "b3910191-5771-36d3-ad72-2b117eb552e4",
            "id" : "c8ae0a46-883d-3cd6-87e7-1afbac1f75a4",
            "instanceIdentifier" : "7c95b5e3-d8d1-3fa0-8926-fc7e644da830",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-registry-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "0de4d40e-828e-303e-83df-d24272a678a3",
          "instanceIdentifier" : "2ae41dce-bee8-39f2-8d82-81830a5b89a7",
          "name" : "AvroSchemaRegistry",
          "properties" : {
            "avro-reg-validated-field-names" : "true",
            "enriched-traffic" : "{\n  \"type\":\"record\",\n  \"namespace\":\"io.github.hindmasj\",\n  \"name\":\"ECSEnrichedTraffic\",\n  \"fields\":[\n    {\"name\":\"source\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"source_schema\",\n      \"fields\":[\n        {\"name\":\"address\",\"type\":\"string\"},\n        {\"name\":\"ip\",\"type\":\"string\"},\n        {\"name\":\"port\",\"type\":\"long\"}\n      ]}\n    },\n    {\"name\":\"Source\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"source_custom_schema\",\n      \"fields\":[\n        {\"name\":\"Service\",\"type\":\"string\"}\n        ]}\n    },\n    {\"name\":\"destination\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"destination_schema\",\n      \"fields\":[\n        {\"name\":\"address\",\"type\":\"string\"},\n        {\"name\":\"ip\",\"type\":\"string\"},\n        {\"name\":\"port\",\"type\":\"long\"}\n      ]}\n    },\n    {\"name\":\"Destination\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"destination_custom_schema\",\n      \"fields\":[\n        {\"name\":\"Service\",\"type\":\"string\"}\n        ]}\n    },\n    {\"name\":\"network\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"network_schema\",\n      \"fields\":[\n        {\"name\":\"application\",\"type\":\"string\"},\n        {\"name\":\"protocol\",\"type\":\"string\"},\n        {\"name\":\"type\",\"type\":{\"type\":\"enum\",\"name\":\"ip_version\",\"symbols\":[\"ipv4\",\"ipv6\"]}},\n        {\"name\":\"iana_number\",\"type\":\"long\"},\n        {\"name\":\"transport\",\"type\":\"long\"}\n      ]\n      }\n    },\n    {\"name\":\"Network\",\"type\":{\n      \"type\":\"record\",\n      \"name\":\"network_custom_schema\",\n      \"fields\":[\n        {\"name\":\"type_id\",\"type\":\"long\"},\n        {\"name\":\"flags\",\"type\":{\n          \"type\":\"record\",\n          \"name\":\"tcp_flags_schema\",\n          \"fields\":[\n            {\"name\":\"syn\",\"type\":\"boolean\"},\n            {\"name\":\"ack\",\"type\":\"boolean\"},\n            {\"name\":\"fin\",\"type\":\"boolean\"}\n            ]}\n          }\n        ]\n      }\n    }\n  ]\n}\n",
            "raw-traffic" : "{\n  \"type\":\"record\",\n  \"namespace\":\"io.github.hindmasj\",\n  \"name\":\"RawTraffic\",\n  \"fields\":[\n    {\"name\":\"src_address\",\"type\":\"string\"},\n    {\"name\":\"src_port\",\"type\":\"long\"},\n    {\"name\":\"dst_address\",\"type\":\"string\"},\n    {\"name\":\"dst_port\",\"type\":\"long\"},\n    {\"name\":\"ip_version\",\"type\":\"long\"},\n    {\"name\":\"transport_protocol\",\"type\":\"long\"},\n    {\"name\":\"flag_s\",\"type\":\"long\"},\n    {\"name\":\"flag_a\",\"type\":\"long\"},\n    {\"name\":\"flag_f\",\"type\":\"long\"}\n  ]\n}\n"
          },
          "propertyDescriptors" : {
            "avro-reg-validated-field-names" : {
              "displayName" : "Validate Field Names",
              "identifiesControllerService" : false,
              "name" : "avro-reg-validated-field-names",
              "sensitive" : false
            },
            "enriched-traffic" : {
              "displayName" : "enriched-traffic",
              "identifiesControllerService" : false,
              "name" : "enriched-traffic",
              "sensitive" : false
            },
            "raw-traffic" : {
              "displayName" : "raw-traffic",
              "identifiesControllerService" : false,
              "name" : "raw-traffic",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "defaa5e5-2ba7-3978-a21a-67625dd31f8c",
          "instanceIdentifier" : "4099263c-3858-3b97-9796-7a6cbbb1636f",
          "name" : "EnrichedJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.enriched}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "schema-access-strategy" : "schema-name",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-redis-service-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.redis.RedisConnectionPool"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "3f6b6bb7-8839-36f3-9b5a-fcc8191cb24c",
          "instanceIdentifier" : "5d69a7ce-c055-31a7-8722-277ace35e56e",
          "name" : "RedisConnectionPoolService",
          "properties" : {
            "Pool - Min Evictable Idle Time" : "60 seconds",
            "Pool - Test On Borrow" : "false",
            "Pool - Test On Return" : "false",
            "Redis Mode" : "Standalone",
            "Pool - Max Idle" : "8",
            "Pool - Block When Exhausted" : "true",
            "Cluster Max Redirects" : "5",
            "Pool - Num Tests Per Eviction Run" : "-1",
            "Connection String" : "redis:6379",
            "Pool - Max Total" : "8",
            "Pool - Test On Create" : "false",
            "Pool - Min Idle" : "0",
            "Pool - Test While Idle" : "true",
            "Pool - Time Between Eviction Runs" : "30 seconds",
            "Communication Timeout" : "10 seconds",
            "Pool - Max Wait Time" : "10 seconds",
            "Database Index" : "0"
          },
          "propertyDescriptors" : {
            "Pool - Min Evictable Idle Time" : {
              "displayName" : "Pool - Min Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Evictable Idle Time",
              "sensitive" : false
            },
            "Pool - Test On Borrow" : {
              "displayName" : "Pool - Test On Borrow",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Borrow",
              "sensitive" : false
            },
            "Pool - Test On Return" : {
              "displayName" : "Pool - Test On Return",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Return",
              "sensitive" : false
            },
            "Redis Mode" : {
              "displayName" : "Redis Mode",
              "identifiesControllerService" : false,
              "name" : "Redis Mode",
              "sensitive" : false
            },
            "Pool - Max Idle" : {
              "displayName" : "Pool - Max Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Idle",
              "sensitive" : false
            },
            "Pool - Block When Exhausted" : {
              "displayName" : "Pool - Block When Exhausted",
              "identifiesControllerService" : false,
              "name" : "Pool - Block When Exhausted",
              "sensitive" : false
            },
            "Cluster Max Redirects" : {
              "displayName" : "Cluster Max Redirects",
              "identifiesControllerService" : false,
              "name" : "Cluster Max Redirects",
              "sensitive" : false
            },
            "Pool - Num Tests Per Eviction Run" : {
              "displayName" : "Pool - Num Tests Per Eviction Run",
              "identifiesControllerService" : false,
              "name" : "Pool - Num Tests Per Eviction Run",
              "sensitive" : false
            },
            "Connection String" : {
              "displayName" : "Connection String",
              "identifiesControllerService" : false,
              "name" : "Connection String",
              "sensitive" : false
            },
            "Pool - Max Total" : {
              "displayName" : "Pool - Max Total",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Total",
              "sensitive" : false
            },
            "Pool - Test On Create" : {
              "displayName" : "Pool - Test On Create",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Create",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Pool - Min Idle" : {
              "displayName" : "Pool - Min Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Idle",
              "sensitive" : false
            },
            "Pool - Test While Idle" : {
              "displayName" : "Pool - Test While Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Test While Idle",
              "sensitive" : false
            },
            "Pool - Time Between Eviction Runs" : {
              "displayName" : "Pool - Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "Pool - Time Between Eviction Runs",
              "sensitive" : false
            },
            "Communication Timeout" : {
              "displayName" : "Communication Timeout",
              "identifiesControllerService" : false,
              "name" : "Communication Timeout",
              "sensitive" : false
            },
            "Pool - Max Wait Time" : {
              "displayName" : "Pool - Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Wait Time",
              "sensitive" : false
            },
            "Database Index" : {
              "displayName" : "Database Index",
              "identifiesControllerService" : false,
              "name" : "Database Index",
              "sensitive" : false
            },
            "Sentinel Master" : {
              "displayName" : "Sentinel Master",
              "identifiesControllerService" : false,
              "name" : "Sentinel Master",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
          "instanceIdentifier" : "33af50b9-f60a-369d-a648-a7875010aa6e",
          "name" : "InheritJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-lookup-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.lookup.StringLookupService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "c5d8ceb6-c1aa-3f97-9585-22de90c50c77",
          "instanceIdentifier" : "e3928ff7-fa6f-38d4-9e0a-6b9eaa41b433",
          "name" : "DistributedMapCacheLookupService",
          "properties" : {
            "character-encoding" : "UTF-8",
            "distributed-map-cache-service" : "0eed8a6c-bfb2-3bcc-a77c-b36c8a82c36d"
          },
          "propertyDescriptors" : {
            "character-encoding" : {
              "displayName" : "Character Encoding",
              "identifiesControllerService" : false,
              "name" : "character-encoding",
              "sensitive" : false
            },
            "distributed-map-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-map-cache-service",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.lookup.DistributedMapCacheLookupService"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "8047edd8-f7e0-340d-bec8-1976689dbad9",
          "instanceIdentifier" : "b0fd4f59-d6f1-312e-ad94-72dea7a4758d",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.raw}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-name",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "b2ef37a9-6860-3724-a7a9-3bc87edb317d",
          "instanceIdentifier" : "b4587a82-39d0-319f-b07f-e4ef49b3cfaf",
          "name" : "RawJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.raw}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "schema-access-strategy" : "schema-name",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "a41a3088-5561-3885-b26c-6b6c8b791dd9",
          "instanceIdentifier" : "bf98da00-e7d4-397b-9f33-524592972e3f",
          "name" : "RawJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.raw}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "schema-access-strategy" : "schema-name",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "0eed8a6c-bfb2-3bcc-a77c-b36c8a82c36d",
          "instanceIdentifier" : "d4adb125-6589-322f-8677-5f9b05e457d7",
          "name" : "RedisDistributedMapCacheClientService",
          "properties" : {
            "redis-connection-pool" : "3f6b6bb7-8839-36f3-9b5a-fcc8191cb24c",
            "redis-cache-ttl" : "300 secs"
          },
          "propertyDescriptors" : {
            "redis-connection-pool" : {
              "displayName" : "Redis Connection Pool",
              "identifiesControllerService" : true,
              "name" : "redis-connection-pool",
              "sensitive" : false
            },
            "redis-cache-ttl" : {
              "displayName" : "TTL",
              "identifiesControllerService" : false,
              "name" : "redis-cache-ttl",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisDistributedMapCacheClientService"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "af97f4fc-a8b6-3b18-96e2-a421a2961da9",
          "instanceIdentifier" : "cc8cf6c9-73af-3a2f-852f-447ba5aeeb5a",
          "name" : "EnrichedJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.enriched}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "schema-access-strategy" : "schema-name",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
          "instanceIdentifier" : "95e776d7-4921-3e08-88df-5a774a388979",
          "name" : "InferJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "06a10374-0fd3-306f-b722-4fa8adecbac1",
          "instanceIdentifier" : "5623ff70-2634-3046-95f5-6de19acc2eb5",
          "name" : "TSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "tdf",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.raw}",
            "schema-registry" : "0de4d40e-828e-303e-83df-d24272a678a3",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "schema-name",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
        "inputPorts" : [ ],
        "instanceIdentifier" : "1d28b6c7-0180-1000-ffff-ffffc703080a",
        "labels" : [ ],
        "name" : "JSON Test Bed",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "6762931f-fd43-35db-9a1c-051bed01fc3d",
          "instanceIdentifier" : "441fbef3-7b0e-38c4-ba53-6963678d8b27",
          "name" : "ErrorHandlingOut",
          "position" : {
            "x" : 1040.0,
            "y" : 1368.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 416.0,
          "y" : -8.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "01102c76-abcd-34d2-ba48-71a00cf0c164",
          "instanceIdentifier" : "03f46a43-1f55-36a6-a9fb-697bc18b1c57",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : -56.0
          },
          "properties" : {
            "Commit Offsets" : "true",
            "group.id" : "nifi",
            "bootstrap.servers" : "kafka:9092",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "honor-transactions" : "true",
            "message-header-encoding" : "UTF-8",
            "message-demarcator" : "\n",
            "max.poll.records" : "10000",
            "security.protocol" : "PLAINTEXT",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "my.source.topic",
            "separate-by-key" : "false",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "latest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "4b21c7f5-ea9b-3f9d-a5c8-28117d9a5492",
          "instanceIdentifier" : "9d2bb065-99d2-3be4-a60a-58c3cc7e539a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 504.0,
            "y" : 2008.0
          },
          "properties" : {
            "log-level" : "info",
            "log-prefix" : "Published kafka message: "
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca",
          "instanceIdentifier" : "bea791b6-ff72-331a-be60-3210e8089692",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord - transport",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 928.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-success",
            "result-record-path" : "/Enrichment/Network/Transport",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
            "lookup-service" : "c5d8ceb6-c1aa-3f97-9585-22de90c50c77",
            "record-update-strategy" : "use-property",
            "key" : "concat('protocol.',/network/iana_number)"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "50375670-b056-3c1d-89be-0077cc03ca61",
          "instanceIdentifier" : "2a5f8974-d06b-34cb-a772-6594dc95259f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - transport",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 1128.0
          },
          "properties" : {
            "/network/transport" : "replaceRegex(\n  unescapeJson(/Enrichment/Network/Transport),\n  '\\{name=([^,]+),.*\\}',\n  '$1'\n)",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/network/transport" : {
              "displayName" : "/network/transport",
              "identifiesControllerService" : false,
              "name" : "/network/transport",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "c8ae0a46-883d-3cd6-87e7-1afbac1f75a4",
          "instanceIdentifier" : "7c95b5e3-d8d1-3fa0-8926-fc7e644da830",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 168.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "schema.enriched" : "enriched-traffic",
            "schema.raw" : "raw-traffic"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "schema.enriched" : {
              "displayName" : "schema.enriched",
              "identifiesControllerService" : false,
              "name" : "schema.enriched",
              "sensitive" : false
            },
            "schema.raw" : {
              "displayName" : "schema.raw",
              "identifiesControllerService" : false,
              "name" : "schema.raw",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "53d863ed-7e51-3096-91fb-7da04fbdc2dc",
          "instanceIdentifier" : "0865abec-fe8d-3c41-a52e-e11960fda166",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 2008.0
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "kafka:9092",
            "sasl.mechanism" : "GSSAPI",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "use-transactions" : "false",
            "acks" : "0",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "my.sink.topic",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9",
          "instanceIdentifier" : "a6562d20-4def-3876-8889-381ed85df262",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord - destination service",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 1536.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-success",
            "result-record-path" : "/Enrichment/Destination/Service",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
            "lookup-service" : "c5d8ceb6-c1aa-3f97-9585-22de90c50c77",
            "record-update-strategy" : "use-property",
            "key" : "concat('service.',/destination/port,'/',/network/transport)"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "9e186b86-ad39-3581-af83-2211a64cbefc",
          "instanceIdentifier" : "b01ec8c0-781c-3bc3-8d64-a2f91fe37e4e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 712.0
          },
          "properties" : {
            "jolt-spec" : "[{\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"src_address\": [\"[&(1)].source.ip\",\"[&(1)].source.address\"],\n      \"src_port\": \"[&(1)].source.port\",\n      \"dst_address\": [\"[&(1)].destination.ip\",\"[&(1)].destination.address\"],\n      \"dst_port\": \"[&(1)].destination.port\",\n      \"ip_version\": [\"[&(1)].network.type\",\"[&(1)].Network.type_id\"],\n      \"transport_protocol\": \"[&(1)].network.iana_number\",\n      \"flag_s\": \"[&(1)].Network.flags.syn\",\n      \"flag_a\": \"[&(1)].Network.flags.ack\",\n      \"flag_f\": \"[&(1)].Network.flags.fin\"\n    }\n  }\n}, {\n   \"operation\":\"modify-overwrite-beta\",\n   \"spec\": {\n     \"*\": {\n       \"network\": {\n         \"type\": \"=concat('ipv',@(0))\"\n       },\n       \"Network\": {\n         \"flags\": {\n           \"*\": \"=elementAt(@(0),false,true)\"\n         }\n       },\n       \"Enrichment\": {\n         \"Network\": {\n           \"Transport\": null\n         },\n         \"Source\": {\n           \"Service\": null\n         },\n         \"Destination\": {\n           \"Service\": null\n         }\n       },\n       \"Source\": {\n         \"service\": null\n       },\n       \"Destination\": {\n         \"service\": null\n       }\n     }\n   }\n }]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "26dcabc4-c320-3439-a00d-bfa6b45bf0ab",
          "instanceIdentifier" : "2a22b5ea-b986-3fc7-8fea-efd6e516c1c1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord - source service",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 1320.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-success",
            "result-record-path" : "/Enrichment/Source/Service",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
            "lookup-service" : "c5d8ceb6-c1aa-3f97-9585-22de90c50c77",
            "record-update-strategy" : "use-property",
            "key" : "concat('service.',/source/port,'/',/network/transport)"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "004a6e64-b25e-3a3d-b832-b520afd23ca5",
          "instanceIdentifier" : "5cfb8473-529a-3140-b237-33fb99ef386f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - service",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 1736.0
          },
          "properties" : {
            "/Destination/service" : "replaceRegex(\n  unescapeJson(/Enrichment/Destination/Service),\n  '\\{name=([^,]+),.*\\}',\n  '$1'\n)\n",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "153ff056-cb52-3e1b-a7c7-5913fdd0b810",
            "/Source/service" : "replaceRegex(\n  unescapeJson(/Enrichment/Source/Service),\n  '\\{name=([^,]+),.*\\}',\n  '$1'\n)\n",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/Destination/service" : {
              "displayName" : "/Destination/service",
              "identifiesControllerService" : false,
              "name" : "/Destination/service",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "/Source/service" : {
              "displayName" : "/Source/service",
              "identifiesControllerService" : false,
              "name" : "/Source/service",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "b3910191-5771-36d3-ad72-2b117eb552e4",
          "identifier" : "32b2171c-b435-35a4-a372-66eed8b9c33c",
          "instanceIdentifier" : "cdb78037-9af6-38d6-b697-41b5e47de294",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 448.0
          },
          "properties" : {
            "cache-schema" : "true",
            "dbf-default-precision" : "10",
            "filtered" : "select *\nfrom flowfile\nwhere transport_protocol <> 6\nor flag_s = 1 or flag_a = 1 or flag_f =1",
            "record-writer" : "a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6",
            "record-reader" : "8047edd8-f7e0-340d-bec8-1976689dbad9",
            "include-zero-record-flowfiles" : "true",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "cache-schema" : {
              "displayName" : "Cache Schema",
              "identifiesControllerService" : false,
              "name" : "cache-schema",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "filtered" : {
              "displayName" : "filtered",
              "identifiesControllerService" : false,
              "name" : "filtered",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}