Test_Bucket/Juniper_Testing.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "91170ca0-98a0-3d0e-813c-03e6c0ebc5fa",
            "instanceIdentifier" : "5ee6497e-3297-3442-a91c-3907013304f8",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "2dd102f1-e802-31e3-963b-9635f390f0ac",
          "instanceIdentifier" : "1fd6d9a7-eb68-35d0-ab79-94f96cc99ec2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "isGeneralMessage" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
            "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
            "name" : "RouteOnAttribute - Message Sub Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ea1a1b7c-0636-367a-9cb0-51e6f4340aea",
            "instanceIdentifier" : "215f79dd-0001-3d63-a86f-56f1bba02991",
            "name" : "UpdateRecord - Raw",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "94f1c329-dd96-3447-8d86-8a38bc5fe2f5",
          "instanceIdentifier" : "2e6893a0-5029-3ec3-a040-80dd995c26c2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "38ecf3ed-a825-3d0d-88ac-de777d5a6803",
            "instanceIdentifier" : "39ea1e6d-0eac-350a-a3c9-02a187bdfc14",
            "name" : "UpdateRecord - Literal",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "13e4fd35-280c-33e6-a9a7-90f6d26017c4",
            "instanceIdentifier" : "e95e7400-fade-3a95-b09d-4457ee10f180",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "35ecebdf-6961-35ab-b826-5b8992c60715",
          "instanceIdentifier" : "5b40d609-1b33-3143-92a5-2d5404b54f71",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a1f62e61-ff83-3b30-94a8-7a5c5ce00240",
            "instanceIdentifier" : "a9b9f6c1-87bb-3e01-9c2f-155fc8dc2d00",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
            "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
            "name" : "RouteOnAttribute - Message Sub Type",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "db288c40-6f27-3898-b755-9af6f2a283fb",
          "instanceIdentifier" : "d6d8f042-8b6d-3e4a-b8d1-0a07f30c3871",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "8f82caa8-6857-3b38-b1bd-ed0bb981551a",
            "instanceIdentifier" : "f502d63c-dc3b-39d1-adf7-1862827c1e54",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "b5666310-a02f-3a7a-96f1-5ffef3e246b9",
            "instanceIdentifier" : "698b34d7-fdc5-3faf-91df-f1d8ec85e521",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "a72f1bd3-a53a-35a9-b052-582a3caabfbb",
          "instanceIdentifier" : "daaeec12-6527-3daa-8d5f-abb7a043641a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "7bc3d090-e3e9-340f-a148-511ecd53f25e",
            "instanceIdentifier" : "51a84b5f-8f82-3f19-946d-82a3ad432173",
            "name" : "RouteOnAttribute - IsValid",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "38ecf3ed-a825-3d0d-88ac-de777d5a6803",
            "instanceIdentifier" : "39ea1e6d-0eac-350a-a3c9-02a187bdfc14",
            "name" : "UpdateRecord - Literal",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "5d2fee9a-6b41-3a79-89be-d9d62b2a959d",
          "instanceIdentifier" : "70e699d9-be09-39a8-85ed-11b6b66ab321",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "cca1f22c-0ab7-39de-8fad-f43bab1ef248",
            "instanceIdentifier" : "c404ab12-5660-361d-be05-2b1a2f626b55",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ee86eaad-8176-3167-8c6b-c62ce1e4f5c0",
            "instanceIdentifier" : "7f1b7d48-bac4-39a1-b5c3-9d6a9643561a",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "1719d4ec-9a33-399a-890e-cb9f3fa1b91f",
          "instanceIdentifier" : "830b92a8-b587-321e-8b6f-66203ea1017f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a261ef9c-5a21-326b-8af7-2e77c25532f4",
            "instanceIdentifier" : "9aff7cd2-ec6c-3014-9b58-4dd8b80e6e97",
            "name" : "RouteOnAttribute - Message Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "cc3cb9cd-fc86-3a13-b356-7839cb171f8a",
            "instanceIdentifier" : "43149ad7-3804-369f-8983-1c4fececdde6",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "b454b7e8-5f10-3f76-93e2-e601fab107e9",
          "instanceIdentifier" : "3ebbbf5c-9ce0-383d-926d-75fe7df9f73f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "28c5391a-92ce-3c44-8b42-e4dfc8b7054c",
            "instanceIdentifier" : "0fcfa2f2-298f-30ec-9d43-04cace64f5e4",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "00c69a5a-233f-3d61-93ed-3b2bf6e90307",
            "instanceIdentifier" : "8c66b3a2-4b64-37aa-8628-ff152704e0d8",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "1f8a924f-359d-3479-bc04-5b6935fde747",
          "instanceIdentifier" : "ba0a764f-b151-315d-b297-fccdecaad894",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "isSessionDeny" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
            "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
            "name" : "RouteOnAttribute - Message Sub Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "8f82caa8-6857-3b38-b1bd-ed0bb981551a",
            "instanceIdentifier" : "f502d63c-dc3b-39d1-adf7-1862827c1e54",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "9756f505-f058-38d9-a231-a683f2a0f9b3",
          "instanceIdentifier" : "5f65f3f8-2014-3e46-b7ef-6b6083ceb2da",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a1f62e61-ff83-3b30-94a8-7a5c5ce00240",
            "instanceIdentifier" : "a9b9f6c1-87bb-3e01-9c2f-155fc8dc2d00",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a261ef9c-5a21-326b-8af7-2e77c25532f4",
            "instanceIdentifier" : "9aff7cd2-ec6c-3014-9b58-4dd8b80e6e97",
            "name" : "RouteOnAttribute - Message Type",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "7bbd3890-6b89-3bb4-9e78-4048bc071c34",
          "instanceIdentifier" : "8b6a99dc-c783-30fa-9803-e94e11378454",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "70028e38-7045-35e8-b34f-ff0c6e21cb5d",
            "instanceIdentifier" : "bccd8e21-9c94-3027-9f63-9feee86a1482",
            "name" : "UpdateRecord - Fix Dates",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "e7082787-c04b-3649-a9ca-57e3d0c75a5c",
            "instanceIdentifier" : "274cd1cc-6c34-34dd-93ac-44d126c95bce",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "6d0bd6b7-da32-3567-9474-537afe48a5a2",
          "instanceIdentifier" : "ef3ae0e4-a26e-33c9-bbda-e3b204899501",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "38ecf3ed-a825-3d0d-88ac-de777d5a6803",
            "instanceIdentifier" : "39ea1e6d-0eac-350a-a3c9-02a187bdfc14",
            "name" : "UpdateRecord - Literal",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "9fd553dd-a047-3afc-98bf-b558f6ef40e6",
            "instanceIdentifier" : "1e7f4756-8359-3588-ac31-bce7a57903e8",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "fbd23806-1d02-30b8-a2e4-7fa3352603a5",
          "instanceIdentifier" : "71111227-183d-3f54-8f61-3e9dcdd403b8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "isAttackLog" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
            "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
            "name" : "RouteOnAttribute - Message Sub Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "e7082787-c04b-3649-a9ca-57e3d0c75a5c",
            "instanceIdentifier" : "274cd1cc-6c34-34dd-93ac-44d126c95bce",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "ca1d8039-e090-3d13-9184-a02d83af4fc0",
          "instanceIdentifier" : "e4aa6a6c-a74b-3c78-8592-c122c4aeb93f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "026e5029-a167-3ccd-8aec-4ca0755cb30d",
            "instanceIdentifier" : "04319540-07c0-34b3-ad1f-6feba2f97a05",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "7bc3d090-e3e9-340f-a148-511ecd53f25e",
            "instanceIdentifier" : "51a84b5f-8f82-3f19-946d-82a3ad432173",
            "name" : "RouteOnAttribute - IsValid",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "528376c9-f3bb-3dea-ace4-24079870d415",
          "instanceIdentifier" : "72c8ec20-57de-3bb1-b5bf-45fa1b145cb2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ea1a1b7c-0636-367a-9cb0-51e6f4340aea",
            "instanceIdentifier" : "215f79dd-0001-3d63-a86f-56f1bba02991",
            "name" : "UpdateRecord - Raw",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "13e4fd35-280c-33e6-a9a7-90f6d26017c4",
            "instanceIdentifier" : "e95e7400-fade-3a95-b09d-4457ee10f180",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "235d0502-b269-3eb8-81ce-c8c6d8491108",
          "instanceIdentifier" : "362d3be0-ebd7-3a98-97f6-358fa201bf7c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "8f82caa8-6857-3b38-b1bd-ed0bb981551a",
            "instanceIdentifier" : "f502d63c-dc3b-39d1-adf7-1862827c1e54",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "b9e01858-011d-3992-a648-1f018df92d57",
            "instanceIdentifier" : "f0053485-f4b5-30da-b3e6-8d2b5445ae3f",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "1c521070-d0e2-3228-9c4e-00ee523380dc",
          "instanceIdentifier" : "44c25c1f-f7b9-3858-a929-5a2d14c60023",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "70028e38-7045-35e8-b34f-ff0c6e21cb5d",
            "instanceIdentifier" : "bccd8e21-9c94-3027-9f63-9feee86a1482",
            "name" : "UpdateRecord - Fix Dates",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "cca1f22c-0ab7-39de-8fad-f43bab1ef248",
            "instanceIdentifier" : "c404ab12-5660-361d-be05-2b1a2f626b55",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "05393506-58ca-32b1-9b56-fbd471dc7991",
          "instanceIdentifier" : "925c0687-8338-3c92-8221-faf94a8a3427",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "026e5029-a167-3ccd-8aec-4ca0755cb30d",
            "instanceIdentifier" : "04319540-07c0-34b3-ad1f-6feba2f97a05",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "28c5391a-92ce-3c44-8b42-e4dfc8b7054c",
            "instanceIdentifier" : "0fcfa2f2-298f-30ec-9d43-04cace64f5e4",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "eef248a1-54cb-3ce3-aeda-736fbd51b658",
          "instanceIdentifier" : "21a2e803-03ec-3883-8136-030e90e579ef",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "813c407a-2fd9-3683-b3e4-c2276bfd3d61",
            "instanceIdentifier" : "c34a6b09-eed4-39be-b42f-adad5b69fc31",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "cc3cb9cd-fc86-3a13-b356-7839cb171f8a",
            "instanceIdentifier" : "43149ad7-3804-369f-8983-1c4fececdde6",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "1660ef78-a31f-373c-b373-89796eca7a72",
          "instanceIdentifier" : "1c84646b-7aa9-3f0a-a80f-cb99b1aa7de1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "813c407a-2fd9-3683-b3e4-c2276bfd3d61",
            "instanceIdentifier" : "c34a6b09-eed4-39be-b42f-adad5b69fc31",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "e7082787-c04b-3649-a9ca-57e3d0c75a5c",
            "instanceIdentifier" : "274cd1cc-6c34-34dd-93ac-44d126c95bce",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "fa44bc27-51e9-3e62-8f33-8425b224d40b",
          "instanceIdentifier" : "17081218-e319-3ab8-b4bb-d432b6cb8794",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ea1a1b7c-0636-367a-9cb0-51e6f4340aea",
            "instanceIdentifier" : "215f79dd-0001-3d63-a86f-56f1bba02991",
            "name" : "UpdateRecord - Raw",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "813c407a-2fd9-3683-b3e4-c2276bfd3d61",
            "instanceIdentifier" : "c34a6b09-eed4-39be-b42f-adad5b69fc31",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "17670bc0-da75-3452-ab16-5c3042d7d4b5",
          "instanceIdentifier" : "5280d617-0d64-347e-b37e-56718a5cf84e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "06f64676-df48-38f3-b440-3e4d01fa4370",
            "instanceIdentifier" : "42aee467-e9f2-3921-915a-ddabcb16243d",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "026e5029-a167-3ccd-8aec-4ca0755cb30d",
            "instanceIdentifier" : "04319540-07c0-34b3-ad1f-6feba2f97a05",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "75e81a98-a276-3f86-b67b-24559a20b01d",
          "instanceIdentifier" : "d5b852cd-1c34-36df-b09e-efb612281acb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "61303e97-7c27-3b93-ad75-25c1b3a3af36",
            "instanceIdentifier" : "a0dfbb07-5591-3068-a587-fdafb2c6f527",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "70028e38-7045-35e8-b34f-ff0c6e21cb5d",
            "instanceIdentifier" : "bccd8e21-9c94-3027-9f63-9feee86a1482",
            "name" : "UpdateRecord - Fix Dates",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "979ad572-9d36-381b-aa22-ad314c106922",
          "instanceIdentifier" : "58641271-febb-32fa-917e-b4e18c44a74c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "7bc3d090-e3e9-340f-a148-511ecd53f25e",
            "instanceIdentifier" : "51a84b5f-8f82-3f19-946d-82a3ad432173",
            "name" : "RouteOnAttribute - IsValid",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "77617047-8f22-372c-97e4-a2307f4dc1be",
            "instanceIdentifier" : "f5abad2e-c806-3011-a9fd-0ff6a31f5a0c",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "6d1b202c-63d5-37a6-93b9-e7cd244c97ac",
          "instanceIdentifier" : "5dd473d7-d3af-38b0-8a81-188b962c9e0e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "28c5391a-92ce-3c44-8b42-e4dfc8b7054c",
            "instanceIdentifier" : "0fcfa2f2-298f-30ec-9d43-04cace64f5e4",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a1f62e61-ff83-3b30-94a8-7a5c5ce00240",
            "instanceIdentifier" : "a9b9f6c1-87bb-3e01-9c2f-155fc8dc2d00",
            "name" : "UpdateRecord - Clean KVP Array",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "fd3df35e-a69a-3997-b732-824d78e36684",
          "instanceIdentifier" : "ec79cbe7-0d28-3c5e-9401-32146e4c0626",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "a261ef9c-5a21-326b-8af7-2e77c25532f4",
            "instanceIdentifier" : "9aff7cd2-ec6c-3014-9b58-4dd8b80e6e97",
            "name" : "RouteOnAttribute - Message Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "89e1be65-5acd-3759-80d1-6578c2e42769",
            "instanceIdentifier" : "87df891b-0e3a-3de0-a39f-496da69d9004",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "048e10ac-d640-31c4-93e8-3e8f0e91c466",
          "instanceIdentifier" : "fdf631b4-9596-3b09-ba78-4cb5f6175b89",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
            "id" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
            "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
            "name" : "RouteOnAttribute - Message Sub Type",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "d01b462a-ad08-3963-b857-0958a577caf3",
          "instanceIdentifier" : "296348c5-5037-3a3d-b813-7524024e2086",
          "name" : "GrokReader",
          "properties" : {
            "Grok Expression" : "^%{JUNIPER_COMMON_HEADER}\\s+(%{JUNIPER_JUNOS_LEADER}\\s%{JUNIPER_KV_ARRAY}|%{JUNIPER_MESSAGE_LEADER}%{GREEDYDATA:event_tag})$",
            "Grok Pattern File" : "custom/grok/juniper-test-patterns.grok",
            "schema-name" : "${schema.name}",
            "no-match-behavior" : "raw-line",
            "schema-access-strategy" : "string-fields-from-grok-expression",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Grok Expression" : {
              "displayName" : "Grok Expression",
              "identifiesControllerService" : false,
              "name" : "Grok Expression",
              "sensitive" : false
            },
            "Grok Pattern File" : {
              "displayName" : "Grok Pattern File",
              "identifiesControllerService" : false,
              "name" : "Grok Pattern File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "no-match-behavior" : {
              "displayName" : "No Match Behavior",
              "identifiesControllerService" : false,
              "name" : "no-match-behavior",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.grok.GrokReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
          "instanceIdentifier" : "26fd1c21-a237-3479-afd3-7798e03c117c",
          "name" : "InferJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
          "instanceIdentifier" : "26a31f1b-0458-3d98-b12c-c4696e7538e1",
          "name" : "InheritJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "true",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "00c69a5a-233f-3d61-93ed-3b2bf6e90307",
          "instanceIdentifier" : "8c66b3a2-4b64-37aa-8628-ff152704e0d8",
          "position" : {
            "x" : 416.0,
            "y" : 1888.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "9fd553dd-a047-3afc-98bf-b558f6ef40e6",
          "instanceIdentifier" : "1e7f4756-8359-3588-ac31-bce7a57903e8",
          "position" : {
            "x" : 40.0,
            "y" : 1888.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "b5666310-a02f-3a7a-96f1-5ffef3e246b9",
          "instanceIdentifier" : "698b34d7-fdc5-3faf-91df-f1d8ec85e521",
          "position" : {
            "x" : 1032.0,
            "y" : 648.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "cc3cb9cd-fc86-3a13-b356-7839cb171f8a",
          "instanceIdentifier" : "43149ad7-3804-369f-8983-1c4fececdde6",
          "position" : {
            "x" : -680.0,
            "y" : 1448.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "b9e01858-011d-3992-a648-1f018df92d57",
          "instanceIdentifier" : "f0053485-f4b5-30da-b3e6-8d2b5445ae3f",
          "position" : {
            "x" : 944.0,
            "y" : 840.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "77617047-8f22-372c-97e4-a2307f4dc1be",
          "instanceIdentifier" : "f5abad2e-c806-3011-a9fd-0ff6a31f5a0c",
          "position" : {
            "x" : -492.4463661344108,
            "y" : 1714.0801909535955
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "91170ca0-98a0-3d0e-813c-03e6c0ebc5fa",
          "instanceIdentifier" : "5ee6497e-3297-3442-a91c-3907013304f8",
          "position" : {
            "x" : 808.0,
            "y" : 1888.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "e7082787-c04b-3649-a9ca-57e3d0c75a5c",
          "instanceIdentifier" : "274cd1cc-6c34-34dd-93ac-44d126c95bce",
          "position" : {
            "x" : 1001.5,
            "y" : 352.5
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "ee86eaad-8176-3167-8c6b-c62ce1e4f5c0",
          "instanceIdentifier" : "7f1b7d48-bac4-39a1-b5c3-9d6a9643561a",
          "position" : {
            "x" : 952.0,
            "y" : 1032.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "89e1be65-5acd-3759-80d1-6578c2e42769",
          "instanceIdentifier" : "87df891b-0e3a-3de0-a39f-496da69d9004",
          "position" : {
            "x" : 968.0,
            "y" : 1640.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "13e4fd35-280c-33e6-a9a7-90f6d26017c4",
          "instanceIdentifier" : "e95e7400-fade-3a95-b09d-4457ee10f180",
          "position" : {
            "x" : 952.0,
            "y" : 1232.0
          }
        } ],
        "identifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
        "inputPorts" : [ ],
        "instanceIdentifier" : "00088350-0181-1000-ffff-ffffab359ac1",
        "labels" : [ ],
        "name" : "Juniper Testing",
        "outputPorts" : [ ],
        "parameterContextName" : "Juniper Parsing",
        "position" : {
          "x" : 688.0,
          "y" : 0.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "61303e97-7c27-3b93-ad75-25c1b3a3af36",
          "instanceIdentifier" : "a0dfbb07-5591-3068-a587-fdafb2c6f527",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 16.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "<13>May 16 01:13:22 10.0.0.1 1 2022-05-16T01:31:21.742+01:00 T-DC1-ZZZZ-Bd1 RT_IDP - RT_FLOW_SESSION_DENY [junos@2636.1.1.1.1.123 epoch-time=\"123456789\" foo=\"bar\" message=\"-\"]\n<13>May 16 01:13:22 10.0.0.1 1 2022-05-16T01:31:21.742+01:00 T-DC1-ZZZZ-Bd1 RT_IDP - IDP_ATTACK_LOG_EVENT [junos@2636.1.1.1.1.123 epoch-time=\"123456789\" foo=\"bar\" message=\"-\"]\n<13>May 16 01:13:22 10.0.0.1 1 2022-05-16T01:31:21.742+01:00 T-DC1-ZZZZ-Bd1 RT_IDP - SOME_OTHER_EVENT [junos@2636.1.1.1.1.123 epoch-time=\"123456789\" foo=\"bar\" message=\"-\"]\n<13>May 16 01:13:22 10.0.0.1 May 16 01:13:22.724 2022 T-ABC-XYZ-Bd1 T-ABC-XYZ-Bd1: pconn_client_connect: Failed to connect to the server after 8 retries\nSome garbage",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "026e5029-a167-3ccd-8aec-4ca0755cb30d",
          "instanceIdentifier" : "04319540-07c0-34b3-ad1f-6feba2f97a05",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PartitionRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 216.0
          },
          "properties" : {
            "isAttackLog" : "/event_indicator_type[. = \"IDP_ATTACK_LOG_EVENT\"]",
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "isValid" : "not(isEmpty(/event_facility_id))",
            "record-reader" : "d01b462a-ad08-3963-b857-0958a577caf3",
            "isGenMessage" : "not(isEmpty(/key_value_pairs_tmp))",
            "isSessionDeny" : "/event_indicator_type[. = \"RT_FLOW_SESSION_DENY\"]"
          },
          "propertyDescriptors" : {
            "isAttackLog" : {
              "displayName" : "isAttackLog",
              "identifiesControllerService" : false,
              "name" : "isAttackLog",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "isValid" : {
              "displayName" : "isValid",
              "identifiesControllerService" : false,
              "name" : "isValid",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "isGenMessage" : {
              "displayName" : "isGenMessage",
              "identifiesControllerService" : false,
              "name" : "isGenMessage",
              "sensitive" : false
            },
            "isSessionDeny" : {
              "displayName" : "isSessionDeny",
              "identifiesControllerService" : false,
              "name" : "isSessionDeny",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PartitionRecord",
          "yieldDuration" : "1 sec"
        }, {
          "annotationData" : "<criteria>\n    <flowFilePolicy>USE_ORIGINAL</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>event_name</attribute>\n            <id>5169b1b4-5ca5-4ad4-b455-7fb41c0972b9</id>\n            <value>Unknown Event</value>\n        </actions>\n        <conditions>\n            <expression>${isValid:equals(false)}</expression>\n            <id>fda1de3b-b568-4b46-aee7-b73b28a48da1</id>\n        </conditions>\n        <id>bfd9ae24-3a23-4067-92d1-7a85d13a5785</id>\n        <name>isUnknownEvent</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>event_name</attribute>\n            <id>1fd1e592-c4ec-4e0e-86c5-28d52a95679b</id>\n            <value>Juniper message</value>\n        </actions>\n        <conditions>\n            <expression>${isValid:equals(true): and(${isGenMessage:equals(false)})}</expression>\n            <id>955e2506-3d11-4d25-92bb-8bf480199d9b</id>\n        </conditions>\n        <id>fdee0d19-045e-4f55-874d-d9fba7bedd05</id>\n        <name>isSimpleMessage</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>event_name</attribute>\n            <id>bfc106c5-e61f-4542-88bd-c206043eaf1c</id>\n            <value>Junos General Parser</value>\n        </actions>\n        <conditions>\n            <expression>${isGenMessage:equals(true)}</expression>\n            <id>8c8adecb-a87e-469a-923a-aec4ff988b30</id>\n        </conditions>\n        <id>17682f5c-9d5f-492f-b598-1e90884caedc</id>\n        <name>isGeneralMessage</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>event_name</attribute>\n            <id>bfc106c5-e61f-4542-88bd-c206043eaf1c</id>\n            <value>Juniper RT Session Deny</value>\n        </actions>\n        <conditions>\n            <expression>${isSessionDeny:isEmpty():not()}</expression>\n            <id>8c8adecb-a87e-469a-923a-aec4ff988b30</id>\n        </conditions>\n        <id>6cff0107-4283-41ad-a604-5b4417d59383</id>\n        <name>isSessionDeny</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>event_name</attribute>\n            <id>bfc106c5-e61f-4542-88bd-c206043eaf1c</id>\n            <value>Juniper Attack Log</value>\n        </actions>\n        <conditions>\n            <expression>${isAttackLog:isEmpty():not()}</expression>\n            <id>8c8adecb-a87e-469a-923a-aec4ff988b30</id>\n        </conditions>\n        <id>d71d5b2e-980c-4d91-942e-f8d29da0cfed</id>\n        <name>isAttackLog</name>\n    </rules>\n</criteria>",
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "cca1f22c-0ab7-39de-8fad-f43bab1ef248",
          "instanceIdentifier" : "c404ab12-5660-361d-be05-2b1a2f626b55",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -504.0,
            "y" : 128.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "7bc3d090-e3e9-340f-a148-511ecd53f25e",
          "instanceIdentifier" : "51a84b5f-8f82-3f19-946d-82a3ad432173",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute - IsValid",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 608.0
          },
          "properties" : {
            "Routing Strategy" : "Route to 'match' if all match",
            "isUnknown" : "${event_name:equals('Unknown Event')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "isUnknown" : {
              "displayName" : "isUnknown",
              "identifiesControllerService" : false,
              "name" : "isUnknown",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "8f82caa8-6857-3b38-b1bd-ed0bb981551a",
          "instanceIdentifier" : "f502d63c-dc3b-39d1-adf7-1862827c1e54",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 320.0,
            "y" : 1384.0
          },
          "properties" : {
            "jolt-spec" : "[{\n  \"operation\": \"modify-overwrite-beta\",\n  \"spec\": {\n    \"*\": {\n      \"key_value_pairs_tmp\": \"=split('\\\\|',@(0))\"\n    }\n  }\n}, {\n  \"operation\": \"modify-overwrite-beta\",\n  \"spec\": {\n    \"*\": {\n      \"key_value_pairs_tmp\": [\"=split(':',@(0))\"]\n    }\n  }\n}, {\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"key_value_pairs_tmp\": {\n        \"*\": {\n          \"0\": \"[&3].&2.keys\",\n          \"1\": \"[&3].&2.values\"\n        }\n      },\n      \"event_facility_id|event_ts_collection|device_gen_addr_ipv4|event_indicator_tag|event_indicator_type|event_name|event_label|event_raw\": \"[&1].&\"\n    }\n  }\n}, {\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"key_value_pairs_tmp\": {\n        \"values\": {\n          \"*\": {\n            \"@\": \"[&4].&3.@(3,keys[&1])\"\n          }\n        }\n      },\n      \"*\": \"[&(1)].&\"\n    }\n  }\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "true",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "a1f62e61-ff83-3b30-94a8-7a5c5ce00240",
          "instanceIdentifier" : "a9b9f6c1-87bb-3e01-9c2f-155fc8dc2d00",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - Clean KVP Array",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 320.0,
            "y" : 1192.0
          },
          "properties" : {
            "/key_value_pairs_tmp" : "replaceRegex(\n  replaceRegex(/key_value_pairs_tmp,'=\\\"',':'),\n  '\\\" ?','|')",
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "record-reader" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/key_value_pairs_tmp" : {
              "displayName" : "/key_value_pairs_tmp",
              "identifiesControllerService" : false,
              "name" : "/key_value_pairs_tmp",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "ea1a1b7c-0636-367a-9cb0-51e6f4340aea",
          "instanceIdentifier" : "215f79dd-0001-3d63-a86f-56f1bba02991",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - Raw",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 408.0
          },
          "properties" : {
            "/event_raw" : "/_raw",
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "record-reader" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/event_raw" : {
              "displayName" : "/event_raw",
              "identifiesControllerService" : false,
              "name" : "/event_raw",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "38ecf3ed-a825-3d0d-88ac-de777d5a6803",
          "instanceIdentifier" : "39ea1e6d-0eac-350a-a3c9-02a187bdfc14",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - Literal",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -368.0,
            "y" : 320.0
          },
          "properties" : {
            "/event_label" : "#{event_label}",
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "/event_name" : "${event_name}",
            "record-reader" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
            "replacement-value-strategy" : "literal-value"
          },
          "propertyDescriptors" : {
            "/event_label" : {
              "displayName" : "/event_label",
              "identifiesControllerService" : false,
              "name" : "/event_label",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "/event_name" : {
              "displayName" : "/event_name",
              "identifiesControllerService" : false,
              "name" : "/event_name",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "06f64676-df48-38f3-b440-3e4d01fa4370",
          "instanceIdentifier" : "42aee467-e9f2-3921-915a-ddabcb16243d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -536.0,
            "y" : 832.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[\n{\"kv_array_tmp\": \"key1=\\\"value 1\\\" key2=\\\"value 2\\\"\"},\n{\"kv_array_tmp\": \"key3=\\\"value a\\\" key4=\\\"value b\\\"\"}\n]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "28c5391a-92ce-3c44-8b42-e4dfc8b7054c",
          "instanceIdentifier" : "0fcfa2f2-298f-30ec-9d43-04cace64f5e4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -304.0,
            "y" : 1424.0
          },
          "properties" : {
            "jolt-spec" : "[{\n  \"operation\": \"modify-overwrite-beta\",\n  \"spec\": {\n    \"*\": {\n      \"kv_array_tmp\": \"=split('\\\\|',@(0))\"\n    }\n  }\n}, {\n  \"operation\": \"modify-overwrite-beta\",\n  \"spec\": {\n    \"*\": {\n      \"kv_array_tmp\": [\"=split(':',@(0))\"]\n    }\n  }\n}, {\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"kv_array_tmp\": {\n        \"*\": {\n          \"0\": \"[&3].&2.keys\",\n          \"1\": \"[&3].&2.values\"\n        }\n      }\n    }\n  }\n}, {\n  \"operation\": \"shift\",\n  \"spec\": {\n    \"*\": {\n      \"kv_array_tmp\": {\n        \"values\": {\n          \"*\": {\n            \"@\": \"[&4].&3.@(3,keys[&1])\"\n          }\n        }\n      }\n    }\n  }\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "true",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "70028e38-7045-35e8-b34f-ff0c6e21cb5d",
          "instanceIdentifier" : "bccd8e21-9c94-3027-9f63-9feee86a1482",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - Fix Dates",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 800.0
          },
          "properties" : {
            "/event_ts_collection" : "format( toDate( concat( ${now(): format(\"yyyy\")}, /event_ts_collection), 'yyyyMMM dd HH:mm:ss','Europe/London'), \"yyyy-MM-dd'T'HH:mm:ss\", \"UTC\")",
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "record-reader" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/event_ts_collection" : {
              "displayName" : "/event_ts_collection",
              "identifiesControllerService" : false,
              "name" : "/event_ts_collection",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "a261ef9c-5a21-326b-8af7-2e77c25532f4",
          "instanceIdentifier" : "9aff7cd2-ec6c-3014-9b58-4dd8b80e6e97",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute - Message Type",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 992.0
          },
          "properties" : {
            "Routing Strategy" : "Route to 'match' if all match",
            "isSimpleMessage" : "${event_name:equals('Juniper message')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "isSimpleMessage" : {
              "displayName" : "isSimpleMessage",
              "identifiesControllerService" : false,
              "name" : "isSimpleMessage",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "ef473ba6-a2f4-3c2e-81db-cbb8637aa6df",
          "instanceIdentifier" : "1fb75d0e-f707-3d7c-988f-a2ecb4d57230",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute - Message Sub Type",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 328.0,
            "y" : 1608.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "isAttackLog" : "${event_name:equals('Juniper Attack Log')}",
            "isGeneralMessage" : "${event_name:equals('Junos General Parser')}",
            "isSessionDeny" : "${event_name:equals('Juniper RT Session Deny')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "isAttackLog" : {
              "displayName" : "isAttackLog",
              "identifiesControllerService" : false,
              "name" : "isAttackLog",
              "sensitive" : false
            },
            "isGeneralMessage" : {
              "displayName" : "isGeneralMessage",
              "identifiesControllerService" : false,
              "name" : "isGeneralMessage",
              "sensitive" : false
            },
            "isSessionDeny" : {
              "displayName" : "isSessionDeny",
              "identifiesControllerService" : false,
              "name" : "isSessionDeny",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ae7c2a6-d6a4-3479-96f4-b632e99b4368",
          "identifier" : "813c407a-2fd9-3683-b3e4-c2276bfd3d61",
          "instanceIdentifier" : "c34a6b09-eed4-39be-b42f-adad5b69fc31",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord - Clean KVP Array",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -536.0,
            "y" : 1048.0
          },
          "properties" : {
            "record-writer" : "958ad37e-4f9a-3c13-a43b-e04d574b5516",
            "record-reader" : "1a0d32b4-0c5e-3e37-8adf-200f589d6770",
            "replacement-value-strategy" : "record-path-value",
            "/kv_array_tmp" : "replaceRegex(\n  replaceRegex(/kv_array_tmp,'=\\\"',':'),\n  '\\\" ?','|')"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            },
            "/kv_array_tmp" : {
              "displayName" : "/kv_array_tmp",
              "identifiesControllerService" : false,
              "name" : "/kv_array_tmp",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Juniper Parsing" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "Juniper Parsing",
          "parameters" : [ {
            "description" : "",
            "name" : "event_label",
            "sensitive" : false,
            "value" : "Juniper_Intrusion"
          } ]
        }
      }
    }
  }
}