Test_Bucket/Rewrite_Redis_Key_Set.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "d1b7bd57-be18-3f76-aeeb-9712cf5e6252",
          "instanceIdentifier" : "2f184055-50bd-1bc2-ffff-ffff99f33fb3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "source" : {
            "comments" : " docker compose exec redis redis-cli -a nifi_redis keys 'service.*' > keylist\n\n docker compose cp --index 1 keylist nifi:/tmp/keylist",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "fc0c7dd5-1add-390d-8c6a-380e0b9755ee",
            "instanceIdentifier" : "2f184031-50bd-1bc2-0000-00005fd2af9d",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "e498256b-7acd-3bc6-8775-307a06431fa3",
            "instanceIdentifier" : "2f1846e8-50bd-1bc2-0000-00005c6d6847",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "8787fa03-0583-31b9-955a-5039249fddbf",
          "instanceIdentifier" : "2f184137-50bd-1bc2-0000-00001e8ef40a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "ROUND_ROBIN",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "splits" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "ecbb8e61-0443-3700-b5d2-e16600100021",
            "instanceIdentifier" : "2f184046-50bd-1bc2-ffff-ffff879a8b40",
            "name" : "SplitText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "19ae337b-e9e2-3bdc-9a0c-4429c3df0089",
            "instanceIdentifier" : "2f18479f-50bd-1bc2-0000-00000f908d32",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "095ec62b-069d-30e5-a873-92ffde663378",
          "instanceIdentifier" : "2f1847af-50bd-1bc2-0000-00004a8615ea",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "8443edc1-4efc-349b-a56b-260d371b682b",
            "instanceIdentifier" : "2f184706-50bd-1bc2-0000-00007d1dff4e",
            "name" : "LookupAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "5b932a83-6599-31aa-866d-1a9718f3c95d",
            "instanceIdentifier" : "2f1843b8-50bd-1bc2-0000-000016bf4b81",
            "name" : "PutDistributedMapCache",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "4a2a56ab-7013-38e8-adc3-a530ceeff2db",
          "instanceIdentifier" : "2f1847c6-50bd-1bc2-ffff-ffffd0a56e6e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "19ae337b-e9e2-3bdc-9a0c-4429c3df0089",
            "instanceIdentifier" : "2f18479f-50bd-1bc2-0000-00000f908d32",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : " docker compose exec redis redis-cli -a nifi_redis keys 'service.*' > keylist\n\n docker compose cp --index 1 keylist nifi:/tmp/keylist",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "fc0c7dd5-1add-390d-8c6a-380e0b9755ee",
            "instanceIdentifier" : "2f184031-50bd-1bc2-0000-00005fd2af9d",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "bd1868da-23cd-308c-a8bf-dfac70a2a908",
          "instanceIdentifier" : "2f18411f-50bd-1bc2-ffff-ffff924011b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "013a8e00-b4f3-37df-8249-907e60c05229",
            "instanceIdentifier" : "2f184062-50bd-1bc2-ffff-ffff82663511",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "5abb24d5-f7fb-3b52-9a2e-981cc9586576",
          "instanceIdentifier" : "2f1843c5-50bd-1bc2-0000-00003d1d15b5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "5b932a83-6599-31aa-866d-1a9718f3c95d",
            "instanceIdentifier" : "2f1843b8-50bd-1bc2-0000-000016bf4b81",
            "name" : "PutDistributedMapCache",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "8443edc1-4efc-349b-a56b-260d371b682b",
            "instanceIdentifier" : "2f184706-50bd-1bc2-0000-00007d1dff4e",
            "name" : "LookupAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "b97bf54f-1f4b-351a-a4c9-0a65327a7024",
          "instanceIdentifier" : "2f184709-50bd-1bc2-ffff-ffff8cd4519b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "e498256b-7acd-3bc6-8775-307a06431fa3",
            "instanceIdentifier" : "2f1846e8-50bd-1bc2-0000-00005c6d6847",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "006963a5-f968-3d98-9dfd-cf013f3e51e0",
          "instanceIdentifier" : "2f18413c-50bd-1bc2-ffff-ffffb0404c35",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "ecbb8e61-0443-3700-b5d2-e16600100021",
            "instanceIdentifier" : "2f184046-50bd-1bc2-ffff-ffff879a8b40",
            "name" : "SplitText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "8996302f-2e4b-34cf-8776-31be60a719e5",
          "instanceIdentifier" : "2f18472c-50bd-1bc2-ffff-ffffe16da4ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "8443edc1-4efc-349b-a56b-260d371b682b",
            "instanceIdentifier" : "2f184706-50bd-1bc2-0000-00007d1dff4e",
            "name" : "LookupAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "53fb8ca9-a6a7-3b2b-be16-88bddcac0629",
          "instanceIdentifier" : "2f1847b8-50bd-1bc2-ffff-ffffbb4942b7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "19ae337b-e9e2-3bdc-9a0c-4429c3df0089",
            "instanceIdentifier" : "2f18479f-50bd-1bc2-0000-00000f908d32",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "id" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "type" : "REMOTE_INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "721bec09-74b9-3bdb-a831-6656f6543c1c",
          "instanceIdentifier" : "2f18470e-50bd-1bc2-0000-000001d353c1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "e498256b-7acd-3bc6-8775-307a06431fa3",
            "instanceIdentifier" : "2f1846e8-50bd-1bc2-0000-00005c6d6847",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "ecbb8e61-0443-3700-b5d2-e16600100021",
            "instanceIdentifier" : "2f184046-50bd-1bc2-ffff-ffff879a8b40",
            "name" : "SplitText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "91444da2-1fc6-375b-bd86-55c48167a6ad",
          "instanceIdentifier" : "2f184049-50bd-1bc2-ffff-ffff93649500",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : " docker compose exec redis redis-cli -a nifi_redis keys 'service.*' > keylist\n\n docker compose cp --index 1 keylist nifi:/tmp/keylist",
            "groupId" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
            "id" : "fc0c7dd5-1add-390d-8c6a-380e0b9755ee",
            "instanceIdentifier" : "2f184031-50bd-1bc2-0000-00005fd2af9d",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
          } ],
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "7d611f4c-fcc0-36d3-8233-e8f9a0f91927",
          "instanceIdentifier" : "2f1849f6-50bd-1bc2-0000-00000b670852",
          "name" : "RedisDistributedMapCacheClientService",
          "properties" : {
            "redis-connection-pool" : "4d042f64-2549-3e09-b430-ab78d89a12b2",
            "redis-cache-ttl" : "0 secs"
          },
          "propertyDescriptors" : {
            "redis-connection-pool" : {
              "displayName" : "Redis Connection Pool",
              "identifiesControllerService" : true,
              "name" : "redis-connection-pool",
              "sensitive" : false
            },
            "redis-cache-ttl" : {
              "displayName" : "TTL",
              "identifiesControllerService" : false,
              "name" : "redis-cache-ttl",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisDistributedMapCacheClientService"
        }, {
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-redis-service-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.redis.RedisConnectionPool"
          } ],
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "4d042f64-2549-3e09-b430-ab78d89a12b2",
          "instanceIdentifier" : "2f18497d-50bd-1bc2-ffff-fffff522b075",
          "name" : "RedisConnectionPoolService",
          "properties" : {
            "Pool - Min Evictable Idle Time" : "60 seconds",
            "Pool - Test On Borrow" : "false",
            "Pool - Test On Return" : "false",
            "Redis Mode" : "Standalone",
            "Pool - Max Idle" : "8",
            "Pool - Block When Exhausted" : "true",
            "Cluster Max Redirects" : "5",
            "Pool - Num Tests Per Eviction Run" : "-1",
            "Connection String" : "#{redis.connection.string}",
            "Pool - Max Total" : "8",
            "Pool - Test On Create" : "false",
            "Pool - Min Idle" : "0",
            "Pool - Test While Idle" : "true",
            "Pool - Time Between Eviction Runs" : "30 seconds",
            "Communication Timeout" : "10 seconds",
            "Pool - Max Wait Time" : "10 seconds",
            "Database Index" : "0",
            "Password" : "#{redis.password}"
          },
          "propertyDescriptors" : {
            "Pool - Min Evictable Idle Time" : {
              "displayName" : "Pool - Min Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Evictable Idle Time",
              "sensitive" : false
            },
            "Pool - Test On Borrow" : {
              "displayName" : "Pool - Test On Borrow",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Borrow",
              "sensitive" : false
            },
            "Pool - Test On Return" : {
              "displayName" : "Pool - Test On Return",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Return",
              "sensitive" : false
            },
            "Redis Mode" : {
              "displayName" : "Redis Mode",
              "identifiesControllerService" : false,
              "name" : "Redis Mode",
              "sensitive" : false
            },
            "Pool - Max Idle" : {
              "displayName" : "Pool - Max Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Idle",
              "sensitive" : false
            },
            "Pool - Block When Exhausted" : {
              "displayName" : "Pool - Block When Exhausted",
              "identifiesControllerService" : false,
              "name" : "Pool - Block When Exhausted",
              "sensitive" : false
            },
            "Cluster Max Redirects" : {
              "displayName" : "Cluster Max Redirects",
              "identifiesControllerService" : false,
              "name" : "Cluster Max Redirects",
              "sensitive" : false
            },
            "Pool - Num Tests Per Eviction Run" : {
              "displayName" : "Pool - Num Tests Per Eviction Run",
              "identifiesControllerService" : false,
              "name" : "Pool - Num Tests Per Eviction Run",
              "sensitive" : false
            },
            "Connection String" : {
              "displayName" : "Connection String",
              "identifiesControllerService" : false,
              "name" : "Connection String",
              "sensitive" : false
            },
            "Pool - Max Total" : {
              "displayName" : "Pool - Max Total",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Total",
              "sensitive" : false
            },
            "Pool - Test On Create" : {
              "displayName" : "Pool - Test On Create",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Create",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Pool - Min Idle" : {
              "displayName" : "Pool - Min Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Idle",
              "sensitive" : false
            },
            "Pool - Test While Idle" : {
              "displayName" : "Pool - Test While Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Test While Idle",
              "sensitive" : false
            },
            "Pool - Time Between Eviction Runs" : {
              "displayName" : "Pool - Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "Pool - Time Between Eviction Runs",
              "sensitive" : false
            },
            "Communication Timeout" : {
              "displayName" : "Communication Timeout",
              "identifiesControllerService" : false,
              "name" : "Communication Timeout",
              "sensitive" : false
            },
            "Pool - Max Wait Time" : {
              "displayName" : "Pool - Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Wait Time",
              "sensitive" : false
            },
            "Database Index" : {
              "displayName" : "Database Index",
              "identifiesControllerService" : false,
              "name" : "Database Index",
              "sensitive" : false
            },
            "Sentinel Master" : {
              "displayName" : "Sentinel Master",
              "identifiesControllerService" : false,
              "name" : "Sentinel Master",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
        }, {
          "bundle" : {
            "artifact" : "nifi-lookup-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.lookup.StringLookupService"
          } ],
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "f17f7b7d-5ec9-3f3b-850b-82a1e98e6f7d",
          "instanceIdentifier" : "2f184a54-50bd-1bc2-ffff-fffff8c4f5ea",
          "name" : "DistributedMapCacheLookupService",
          "properties" : {
            "character-encoding" : "UTF-8",
            "distributed-map-cache-service" : "7d611f4c-fcc0-36d3-8233-e8f9a0f91927"
          },
          "propertyDescriptors" : {
            "character-encoding" : {
              "displayName" : "Character Encoding",
              "identifiesControllerService" : false,
              "name" : "character-encoding",
              "sensitive" : false
            },
            "distributed-map-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-map-cache-service",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.lookup.DistributedMapCacheLookupService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
        "inputPorts" : [ ],
        "instanceIdentifier" : "2f184958-50bd-1bc2-0000-00003da12d68",
        "labels" : [ ],
        "name" : "Rewrite Redis Key Set",
        "outputPorts" : [ ],
        "parameterContextName" : "Rewrite Redis Key Set",
        "position" : {
          "x" : -56.0,
          "y" : 376.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "e498256b-7acd-3bc6-8775-307a06431fa3",
          "instanceIdentifier" : "2f1846e8-50bd-1bc2-0000-00005c6d6847",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExtractText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1824.0,
            "y" : 408.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "extract-text-enable-named-groups" : "false",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false",
            "key" : "(?s)(.*)"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "extract-text-enable-named-groups" : {
              "displayName" : "Enable named group support",
              "identifiesControllerService" : false,
              "name" : "extract-text-enable-named-groups",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "name" : "extract-text-enable-repeating-capture-group",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "19ae337b-e9e2-3bdc-9a0c-4429c3df0089",
          "instanceIdentifier" : "2f18479f-50bd-1bc2-0000-00000f908d32",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1688.0,
            "y" : 808.0
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "${'value'}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "5b932a83-6599-31aa-866d-1a9718f3c95d",
          "instanceIdentifier" : "2f1843b8-50bd-1bc2-0000-000016bf4b81",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDistributedMapCache",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1384.0,
            "y" : 1016.0
          },
          "properties" : {
            "Cache Entry Identifier" : "${key:prepend('x-')}",
            "Cache update strategy" : "replace",
            "Distributed Cache Service" : "7d611f4c-fcc0-36d3-8233-e8f9a0f91927",
            "Max cache entry size" : "1 MB"
          },
          "propertyDescriptors" : {
            "Cache Entry Identifier" : {
              "displayName" : "Cache Entry Identifier",
              "identifiesControllerService" : false,
              "name" : "Cache Entry Identifier",
              "sensitive" : false
            },
            "Cache update strategy" : {
              "displayName" : "Cache update strategy",
              "identifiesControllerService" : false,
              "name" : "Cache update strategy",
              "sensitive" : false
            },
            "Distributed Cache Service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "Distributed Cache Service",
              "sensitive" : false
            },
            "Max cache entry size" : {
              "displayName" : "Max cache entry size",
              "identifiesControllerService" : false,
              "name" : "Max cache entry size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDistributedMapCache",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "ecbb8e61-0443-3700-b5d2-e16600100021",
          "instanceIdentifier" : "2f184046-50bd-1bc2-ffff-ffff879a8b40",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1824.0,
            "y" : 216.0
          },
          "properties" : {
            "Remove Trailing Newlines" : "true",
            "Header Line Count" : "0",
            "Line Split Count" : "1"
          },
          "propertyDescriptors" : {
            "Remove Trailing Newlines" : {
              "displayName" : "Remove Trailing Newlines",
              "identifiesControllerService" : false,
              "name" : "Remove Trailing Newlines",
              "sensitive" : false
            },
            "Maximum Fragment Size" : {
              "displayName" : "Maximum Fragment Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Fragment Size",
              "sensitive" : false
            },
            "Header Line Marker Characters" : {
              "displayName" : "Header Line Marker Characters",
              "identifiesControllerService" : false,
              "name" : "Header Line Marker Characters",
              "sensitive" : false
            },
            "Header Line Count" : {
              "displayName" : "Header Line Count",
              "identifiesControllerService" : false,
              "name" : "Header Line Count",
              "sensitive" : false
            },
            "Line Split Count" : {
              "displayName" : "Line Split Count",
              "identifiesControllerService" : false,
              "name" : "Line Split Count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "013a8e00-b4f3-37df-8249-907e60c05229",
          "instanceIdentifier" : "2f184062-50bd-1bc2-ffff-ffff82663511",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1824.0,
            "y" : -192.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "absolute.path" : "/tmp",
            "avro.schema" : "{\n  \"type\":\"record\",\n  \"name\":\"key\",\n  \"fields\": [\n    {\"name\":\"key\", \"type\":\"string\"}\n  ]\n}",
            "File Size" : "0B",
            "filename" : "keylist",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "absolute.path" : {
              "displayName" : "absolute.path",
              "identifiesControllerService" : false,
              "name" : "absolute.path",
              "sensitive" : false
            },
            "avro.schema" : {
              "displayName" : "avro.schema",
              "identifiesControllerService" : false,
              "name" : "avro.schema",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "8443edc1-4efc-349b-a56b-260d371b682b",
          "instanceIdentifier" : "2f184706-50bd-1bc2-0000-00007d1dff4e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1824.0,
            "y" : 608.0
          },
          "properties" : {
            "lookup-service" : "f17f7b7d-5ec9-3f3b-850b-82a1e98e6f7d",
            "include-empty-values" : "true",
            "value" : "${key}"
          },
          "propertyDescriptors" : {
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "include-empty-values" : {
              "displayName" : "Include Empty Values",
              "identifiesControllerService" : false,
              "name" : "include-empty-values",
              "sensitive" : false
            },
            "value" : {
              "displayName" : "value",
              "identifiesControllerService" : false,
              "name" : "value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : " docker compose exec redis redis-cli -a nifi_redis keys 'service.*' > keylist\n\n docker compose cp --index 1 keylist nifi:/tmp/keylist",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "fc0c7dd5-1add-390d-8c6a-380e0b9755ee",
          "instanceIdentifier" : "2f184031-50bd-1bc2-0000-00005fd2af9d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FetchFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1824.0,
            "y" : 16.0
          },
          "properties" : {
            "Move Conflict Strategy" : "Rename",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${absolute.path}/${filename}",
            "Completion Strategy" : "None"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "name" : "Move Conflict Strategy",
              "sensitive" : false
            },
            "Log level when file not found" : {
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "name" : "Log level when file not found",
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "name" : "Move Destination Directory",
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "name" : "Log level when permission denied",
              "sensitive" : false
            },
            "File to Fetch" : {
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "name" : "File to Fetch",
              "sensitive" : false
            },
            "Completion Strategy" : {
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "name" : "Completion Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ {
          "comments" : "",
          "communicationsTimeout" : "30 sec",
          "componentType" : "REMOTE_PROCESS_GROUP",
          "groupIdentifier" : "9967b0c5-d722-3112-8e6d-de565aa3021a",
          "identifier" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
          "inputPorts" : [ {
            "batchSize" : { },
            "comments" : "",
            "componentType" : "REMOTE_INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "identifier" : "7725126c-647b-375a-80ba-b8031c2b3cb9",
            "instanceIdentifier" : "d243f50c-1420-33c5-b168-ce9551c687a2",
            "name" : "Error Handler",
            "remoteGroupId" : "1bf257b8-7f23-35a6-99f5-8a5b2b9e8056",
            "scheduledState" : "ENABLED",
            "targetId" : "d211391a-1234-1cbd-81a2-506a25edb5a1",
            "useCompression" : false
          } ],
          "instanceIdentifier" : "2f184050-50bd-1bc2-0000-000054519cb5",
          "name" : "NiFi Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : -1144.0,
            "y" : 48.0
          },
          "proxyHost" : "",
          "proxyUser" : "",
          "targetUri" : "http://nifi:8080/nifi",
          "targetUris" : "http://nifi:8080/nifi",
          "transportProtocol" : "RAW",
          "yieldDuration" : "10 sec"
        } ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Rewrite Redis Key Set" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "Rewrite Redis Key Set",
          "parameters" : [ {
            "description" : "",
            "name" : "redis.password",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "redis.connection.string",
            "sensitive" : false,
            "value" : "redis:6379"
          } ]
        }
      }
    }
  }
}