Test_Bucket/Test_Lookup_Behaviour.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "40692185-d10b-3a2f-a3ea-1277c3cc46ff",
          "instanceIdentifier" : "43150338-43e6-3ef5-a7fa-762e82991cd4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "83a3166d-6f3e-311f-97ff-587969fd8ac8",
            "instanceIdentifier" : "1fadb310-d612-3743-8ed4-6a8d140ffd5c",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1d9e93e-f013-3455-bab1-0f85a7f416cd",
            "instanceIdentifier" : "f4e232f3-b91b-14b9-ffff-ffffff6cdbc3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "d0cdd1f7-727a-3039-8c75-6d7f71859bda",
          "instanceIdentifier" : "f4e232fa-b91b-14b9-0000-0000388bc507",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "splits" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "507d0def-2880-3899-93fb-c430dc1d48e2",
            "instanceIdentifier" : "f4e232e3-b91b-14b9-ffff-ffffa52acf94",
            "name" : "SplitRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "bff6cfa1-6ede-3f91-94b6-84a0f42fee02",
            "instanceIdentifier" : "a8a76219-4068-3208-8211-a2a076b28a73",
            "name" : "LogMessage - unmatched",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "ca6ea6ce-7fae-36b6-b49f-27727132ad4c",
          "instanceIdentifier" : "a7744351-9495-34f6-a17d-a23490080297",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "8b1c50f7-cefc-3a29-b8c0-bf88a40a9e06",
            "instanceIdentifier" : "f4e2330f-b91b-14b9-ffff-fffff08cbc06",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "40ca1ed3-f5a8-379f-92c6-bc43e458a9f8",
          "instanceIdentifier" : "f4e23318-b91b-14b9-0000-000005be1bb1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1d9e93e-f013-3455-bab1-0f85a7f416cd",
            "instanceIdentifier" : "f4e232f3-b91b-14b9-ffff-ffffff6cdbc3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "eaf513fb-d74d-362e-b2c2-0f5b44afa96f",
            "instanceIdentifier" : "968dbbd5-e52f-3fa1-8f13-bbd5dcb13e8a",
            "name" : "LogMessage - success",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "053cd28d-4eee-3f78-bc15-7c8899c62a62",
          "instanceIdentifier" : "a455be2e-0ed6-3d9c-9658-7a337c7bd07a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
            "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
            "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "61f616b7-df70-39b1-ad45-c517cedcf3e9",
          "instanceIdentifier" : "645960d2-344e-3943-8334-1c198897db03",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "ba314b5b-e1ab-32d0-8359-687514a93779",
            "instanceIdentifier" : "a5104b3d-4e30-3ea1-806e-8ade703d1fef",
            "name" : "GenerateFlowFile - Fred First",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "87f6ace4-6879-3015-a651-368d5bc1c869",
            "instanceIdentifier" : "f4e2331d-b91b-14b9-0000-0000205e75f2",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "fdff23ea-c647-3d93-a6f8-ab70324165b1",
          "instanceIdentifier" : "f4e2331f-b91b-14b9-ffff-ffffa8088584",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "Have you set the Redis AUTH password in the parameter context for this group?",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "429af798-3316-3738-8817-7cf094980afc",
            "instanceIdentifier" : "f4e232cf-b91b-14b9-0000-00004dcb5e4a",
            "name" : "PutDistributedMapCache",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "261bea86-fd68-3101-9108-a52e85c7ee5f",
            "instanceIdentifier" : "a75d184f-4902-3482-a206-53da262a8831",
            "name" : "LogMessage - matched",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "2f310578-2bb2-37ef-bf7d-199404b78325",
          "instanceIdentifier" : "862b9daa-3def-38f7-b413-309861098651",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "8b1c50f7-cefc-3a29-b8c0-bf88a40a9e06",
            "instanceIdentifier" : "f4e2330f-b91b-14b9-ffff-fffff08cbc06",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "9c107216-86b3-3597-bc8a-385d8db67e3e",
          "instanceIdentifier" : "f4e2331b-b91b-14b9-0000-0000595cce87",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "Have you set the Redis AUTH password in the parameter context for this group?",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "429af798-3316-3738-8817-7cf094980afc",
            "instanceIdentifier" : "f4e232cf-b91b-14b9-0000-00004dcb5e4a",
            "name" : "PutDistributedMapCache",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "0a635317-3987-3ca6-8bdf-52aabc2b3479",
            "instanceIdentifier" : "a4194703-64ee-34b7-9844-3985d0915237",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "f6d370a0-9e11-370a-9a27-8902e6d424de",
          "instanceIdentifier" : "a7a3c279-3930-34c8-bd2b-1200c46c3d8d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "507d0def-2880-3899-93fb-c430dc1d48e2",
            "instanceIdentifier" : "f4e232e3-b91b-14b9-ffff-ffffa52acf94",
            "name" : "SplitRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "08409aaf-2e72-3072-9e39-639c4749e012",
          "instanceIdentifier" : "f4e232e6-b91b-14b9-ffff-ffffb2548d7a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "8c79ef95-cf72-3b26-9a50-c094c5e45bed",
            "instanceIdentifier" : "f4e232ad-b91b-14b9-aa8e-a62336abff6d",
            "name" : "GenerateFlowFile - Base Data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "1e580fba-78db-308f-929e-0864c2dd4937",
          "instanceIdentifier" : "b06e87ff-5dce-3a37-9bb2-a3068f21cfd3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "ba314b5b-e1ab-32d0-8359-687514a93779",
            "instanceIdentifier" : "a5104b3d-4e30-3ea1-806e-8ade703d1fef",
            "name" : "GenerateFlowFile - Fred First",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
            "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "fb55d986-3912-3495-a9ba-bf4bbcb093b9",
          "instanceIdentifier" : "1da7425d-b8b0-3ad5-9c40-38152eb05f63",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "83a3166d-6f3e-311f-97ff-587969fd8ac8",
            "instanceIdentifier" : "1fadb310-d612-3743-8ed4-6a8d140ffd5c",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "8b1c50f7-cefc-3a29-b8c0-bf88a40a9e06",
            "instanceIdentifier" : "f4e2330f-b91b-14b9-ffff-fffff08cbc06",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "f57c4d97-76df-3e75-9ef6-689f4aaa9be3",
          "instanceIdentifier" : "f4e23311-b91b-14b9-0000-000041d01ae5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "507d0def-2880-3899-93fb-c430dc1d48e2",
            "instanceIdentifier" : "f4e232e3-b91b-14b9-ffff-ffffa52acf94",
            "name" : "SplitRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "0a635317-3987-3ca6-8bdf-52aabc2b3479",
            "instanceIdentifier" : "a4194703-64ee-34b7-9844-3985d0915237",
            "name" : "ErrorHandlingOut",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "50fcf44a-f8ba-3107-a1a4-c5bdeb7d6592",
          "instanceIdentifier" : "7fe6d78b-575b-3a11-ae32-5d8d0e2c901b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
            "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -1632.0,
            "y" : 672.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
            "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "5e32ae2d-26fc-3da2-9160-910f4c3c3e93",
          "instanceIdentifier" : "21eab67e-9bf6-3133-8ee6-c44ea9172d76",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "2563f118-8eff-3dd6-8a7b-f69c1aaf1bde",
            "instanceIdentifier" : "d90b5fbc-e3e9-3ae9-a6ed-8694f67bc149",
            "name" : "GenerateFlowFile - Bill First",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
            "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
            "name" : "LookupRecord - mood",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "eb3ae657-dc0b-3cae-b85f-eebb22b17216",
          "instanceIdentifier" : "56702d42-f7c9-32a6-9822-8763ab2fc4cb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "2563f118-8eff-3dd6-8a7b-f69c1aaf1bde",
            "instanceIdentifier" : "d90b5fbc-e3e9-3ae9-a6ed-8694f67bc149",
            "name" : "GenerateFlowFile - Bill First",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "Have you set the Redis AUTH password in the parameter context for this group?",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "429af798-3316-3738-8817-7cf094980afc",
            "instanceIdentifier" : "f4e232cf-b91b-14b9-0000-00004dcb5e4a",
            "name" : "PutDistributedMapCache",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "e4009210-cf96-30e2-82b9-dba89d772394",
          "instanceIdentifier" : "f4e2330c-b91b-14b9-0000-000056b305f7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
            "id" : "e1d9e93e-f013-3455-bab1-0f85a7f416cd",
            "instanceIdentifier" : "f4e232f3-b91b-14b9-ffff-ffffff6cdbc3",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-lookup-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.lookup.StringLookupService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.lookup.LookupService"
          } ],
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "e15765de-622a-38d5-934d-4eecc424482b",
          "instanceIdentifier" : "e67be871-5621-3df0-aadd-350076345538",
          "name" : "DistributedMapCacheLookupService",
          "properties" : {
            "character-encoding" : "UTF-8",
            "distributed-map-cache-service" : "bf9a4858-f014-33e5-975b-9fdd14cb2ec2"
          },
          "propertyDescriptors" : {
            "character-encoding" : {
              "displayName" : "Character Encoding",
              "identifiesControllerService" : false,
              "name" : "character-encoding",
              "sensitive" : false
            },
            "distributed-map-cache-service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "distributed-map-cache-service",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.lookup.DistributedMapCacheLookupService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "be4dda26-751f-3aad-bbc2-3116afd0f889",
          "instanceIdentifier" : "b2e2c81e-047b-368a-9269-7fe59d434173",
          "name" : "InferJsonTreeReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
          } ],
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "bf9a4858-f014-33e5-975b-9fdd14cb2ec2",
          "instanceIdentifier" : "86fd3b64-e95b-3343-b158-87670982dcfe",
          "name" : "RedisDistributedMapCacheClientService",
          "properties" : {
            "redis-connection-pool" : "28a90fb3-ac41-3177-869c-63f9431a635c",
            "redis-cache-ttl" : "0 secs"
          },
          "propertyDescriptors" : {
            "redis-connection-pool" : {
              "displayName" : "Redis Connection Pool",
              "identifiesControllerService" : true,
              "name" : "redis-connection-pool",
              "sensitive" : false
            },
            "redis-cache-ttl" : {
              "displayName" : "TTL",
              "identifiesControllerService" : false,
              "name" : "redis-cache-ttl",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisDistributedMapCacheClientService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-redis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-redis-service-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.redis.RedisConnectionPool"
          } ],
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "28a90fb3-ac41-3177-869c-63f9431a635c",
          "instanceIdentifier" : "f152a362-3ac0-3941-9ec1-939d79e89e9a",
          "name" : "RedisConnectionPoolService",
          "properties" : {
            "Pool - Min Evictable Idle Time" : "60 seconds",
            "Pool - Test On Borrow" : "false",
            "Pool - Test On Return" : "false",
            "Redis Mode" : "Standalone",
            "Pool - Max Idle" : "8",
            "Pool - Block When Exhausted" : "true",
            "Cluster Max Redirects" : "5",
            "Pool - Num Tests Per Eviction Run" : "-1",
            "Connection String" : "#{RedisConnectionString}",
            "Pool - Max Total" : "8",
            "Pool - Test On Create" : "false",
            "Pool - Min Idle" : "0",
            "Pool - Test While Idle" : "true",
            "Pool - Time Between Eviction Runs" : "30 seconds",
            "Communication Timeout" : "10 seconds",
            "Pool - Max Wait Time" : "10 seconds",
            "Database Index" : "0",
            "Password" : "#{RedisPassword}"
          },
          "propertyDescriptors" : {
            "Pool - Min Evictable Idle Time" : {
              "displayName" : "Pool - Min Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Evictable Idle Time",
              "sensitive" : false
            },
            "Pool - Test On Borrow" : {
              "displayName" : "Pool - Test On Borrow",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Borrow",
              "sensitive" : false
            },
            "Pool - Test On Return" : {
              "displayName" : "Pool - Test On Return",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Return",
              "sensitive" : false
            },
            "Redis Mode" : {
              "displayName" : "Redis Mode",
              "identifiesControllerService" : false,
              "name" : "Redis Mode",
              "sensitive" : false
            },
            "Pool - Max Idle" : {
              "displayName" : "Pool - Max Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Idle",
              "sensitive" : false
            },
            "Pool - Block When Exhausted" : {
              "displayName" : "Pool - Block When Exhausted",
              "identifiesControllerService" : false,
              "name" : "Pool - Block When Exhausted",
              "sensitive" : false
            },
            "Cluster Max Redirects" : {
              "displayName" : "Cluster Max Redirects",
              "identifiesControllerService" : false,
              "name" : "Cluster Max Redirects",
              "sensitive" : false
            },
            "Pool - Num Tests Per Eviction Run" : {
              "displayName" : "Pool - Num Tests Per Eviction Run",
              "identifiesControllerService" : false,
              "name" : "Pool - Num Tests Per Eviction Run",
              "sensitive" : false
            },
            "Connection String" : {
              "displayName" : "Connection String",
              "identifiesControllerService" : false,
              "name" : "Connection String",
              "sensitive" : false
            },
            "Pool - Max Total" : {
              "displayName" : "Pool - Max Total",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Total",
              "sensitive" : false
            },
            "Pool - Test On Create" : {
              "displayName" : "Pool - Test On Create",
              "identifiesControllerService" : false,
              "name" : "Pool - Test On Create",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Pool - Min Idle" : {
              "displayName" : "Pool - Min Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Min Idle",
              "sensitive" : false
            },
            "Pool - Test While Idle" : {
              "displayName" : "Pool - Test While Idle",
              "identifiesControllerService" : false,
              "name" : "Pool - Test While Idle",
              "sensitive" : false
            },
            "Pool - Time Between Eviction Runs" : {
              "displayName" : "Pool - Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "Pool - Time Between Eviction Runs",
              "sensitive" : false
            },
            "Communication Timeout" : {
              "displayName" : "Communication Timeout",
              "identifiesControllerService" : false,
              "name" : "Communication Timeout",
              "sensitive" : false
            },
            "Pool - Max Wait Time" : {
              "displayName" : "Pool - Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Pool - Max Wait Time",
              "sensitive" : false
            },
            "Database Index" : {
              "displayName" : "Database Index",
              "identifiesControllerService" : false,
              "name" : "Database Index",
              "sensitive" : false
            },
            "Sentinel Master" : {
              "displayName" : "Sentinel Master",
              "identifiesControllerService" : false,
              "name" : "Sentinel Master",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "a1e29d20-cd61-3335-be16-b97dabeee89f",
          "instanceIdentifier" : "b3f8f62b-949b-3b7e-b0e4-91196696dbb0",
          "name" : "InheritJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "87f6ace4-6879-3015-a651-368d5bc1c869",
          "instanceIdentifier" : "f4e2331d-b91b-14b9-0000-0000205e75f2",
          "position" : {
            "x" : -3096.0,
            "y" : 1320.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "8b1c50f7-cefc-3a29-b8c0-bf88a40a9e06",
          "instanceIdentifier" : "f4e2330f-b91b-14b9-ffff-fffff08cbc06",
          "position" : {
            "x" : -3587.0721830985917,
            "y" : 894.2987089201879
          }
        } ],
        "identifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
        "inputPorts" : [ ],
        "instanceIdentifier" : "b57cc1b2-018b-1000-ffff-ffffc27505cf",
        "labels" : [ ],
        "name" : "Lookup Behaviour Testing",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "0a635317-3987-3ca6-8bdf-52aabc2b3479",
          "instanceIdentifier" : "a4194703-64ee-34b7-9844-3985d0915237",
          "name" : "ErrorHandlingOut",
          "position" : {
            "x" : -1768.0,
            "y" : 896.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "RedisConfig",
        "position" : {
          "x" : 806.0,
          "y" : 190.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "ba314b5b-e1ab-32d0-8359-687514a93779",
          "instanceIdentifier" : "a5104b3d-4e30-3ea1-806e-8ade703d1fef",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile - Fred First",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1808.0,
            "y" : 456.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[{\"name\":\"fred\"},{\"name\":\"bill\"},{\"name\":\"charlie\"}]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "topic" : "netflow",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "topic",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "* * * * * ?",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "Have you set the Redis AUTH password in the parameter context for this group?",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "429af798-3316-3738-8817-7cf094980afc",
          "instanceIdentifier" : "f4e232cf-b91b-14b9-0000-00004dcb5e4a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDistributedMapCache",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3248.0,
            "y" : 1088.0
          },
          "properties" : {
            "Cache Entry Identifier" : "mood|${name}",
            "Cache update strategy" : "replace",
            "Distributed Cache Service" : "bf9a4858-f014-33e5-975b-9fdd14cb2ec2",
            "Max cache entry size" : "1 MB"
          },
          "propertyDescriptors" : {
            "Cache Entry Identifier" : {
              "displayName" : "Cache Entry Identifier",
              "identifiesControllerService" : false,
              "name" : "Cache Entry Identifier",
              "sensitive" : false
            },
            "Cache update strategy" : {
              "displayName" : "Cache update strategy",
              "identifiesControllerService" : false,
              "name" : "Cache update strategy",
              "sensitive" : false
            },
            "Distributed Cache Service" : {
              "displayName" : "Distributed Cache Service",
              "identifiesControllerService" : true,
              "name" : "Distributed Cache Service",
              "sensitive" : false
            },
            "Max cache entry size" : {
              "displayName" : "Max cache entry size",
              "identifiesControllerService" : false,
              "name" : "Max cache entry size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDistributedMapCache",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "507d0def-2880-3899-93fb-c430dc1d48e2",
          "instanceIdentifier" : "f4e232e3-b91b-14b9-ffff-ffffa52acf94",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3248.0,
            "y" : 680.0
          },
          "properties" : {
            "Record Writer" : "a1e29d20-cd61-3335-be16-b97dabeee89f",
            "Record Reader" : "be4dda26-751f-3aad-bbc2-3116afd0f889",
            "Records Per Split" : "1"
          },
          "propertyDescriptors" : {
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Records Per Split" : {
              "displayName" : "Records Per Split",
              "identifiesControllerService" : false,
              "name" : "Records Per Split",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "2563f118-8eff-3dd6-8a7b-f69c1aaf1bde",
          "instanceIdentifier" : "d90b5fbc-e3e9-3ae9-a6ed-8694f67bc149",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile - Bill First",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2488.0,
            "y" : 456.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[{\"name\":\"bill\"},{\"name\":\"fred\"},{\"name\":\"charlie\"}]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "topic" : "netflow",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "topic",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "* * * * * ?",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "eaf513fb-d74d-362e-b2c2-0f5b44afa96f",
          "instanceIdentifier" : "968dbbd5-e52f-3fa1-8f13-bbd5dcb13e8a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage - success",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2488.0,
            "y" : 1152.0
          },
          "properties" : {
            "log-level" : "info",
            "log-prefix" : "Message lookup success: "
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "8c79ef95-cf72-3b26-9a50-c094c5e45bed",
          "instanceIdentifier" : "f4e232ad-b91b-14b9-aa8e-a62336abff6d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile - Base Data",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3248.0,
            "y" : 464.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "mime-type" : "application/json",
            "generate-ff-custom-text" : "[\n{\"name\":\"bill\",\"mood\":\"happy\"},\n{\"name\":\"charlie\",\"mood\":\"ebullient\"}\n]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "* * * * * ?",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "a7f285be-aa54-3588-8b88-fb9f9a22fca6",
          "instanceIdentifier" : "1c7f105d-dafb-3f0d-9e79-a39a9f7929f3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord - mood",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2488.0,
            "y" : 864.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-success",
            "record-path-lookup-miss-result-cache-size" : "0",
            "result-record-path" : "/mood",
            "record-writer" : "a1e29d20-cd61-3335-be16-b97dabeee89f",
            "record-reader" : "be4dda26-751f-3aad-bbc2-3116afd0f889",
            "lookup-service" : "e15765de-622a-38d5-934d-4eecc424482b",
            "record-update-strategy" : "use-property",
            "key" : "concat('mood|',/name)"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "record-path-lookup-miss-result-cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "record-path-lookup-miss-result-cache-size",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "261bea86-fd68-3101-9108-a52e85c7ee5f",
          "instanceIdentifier" : "a75d184f-4902-3482-a206-53da262a8831",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage - matched",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2072.0,
            "y" : 1152.0
          },
          "properties" : {
            "log-level" : "info",
            "log-prefix" : "Message matched lookup: "
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "bff6cfa1-6ede-3f91-94b6-84a0f42fee02",
          "instanceIdentifier" : "a8a76219-4068-3208-8211-a2a076b28a73",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage - unmatched",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1648.0,
            "y" : 1152.0
          },
          "properties" : {
            "log-level" : "info",
            "log-prefix" : "Message not matched lookup: "
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "83a3166d-6f3e-311f-97ff-587969fd8ac8",
          "instanceIdentifier" : "1fadb310-d612-3743-8ed4-6a8d140ffd5c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1120.0,
            "y" : 456.0
          },
          "properties" : {
            "Commit Offsets" : "true",
            "group.id" : "nifi",
            "bootstrap.servers" : "kafka:9092",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "honor-transactions" : "true",
            "message-header-encoding" : "UTF-8",
            "message-demarcator" : "\n",
            "max.poll.records" : "10000",
            "security.protocol" : "PLAINTEXT",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "my.source.topic",
            "separate-by-key" : "false",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "latest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "aws.profile.name" : {
              "displayName" : "AWS Profile Name",
              "identifiesControllerService" : false,
              "name" : "aws.profile.name",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Authentication",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "e1086edd-8a96-35bf-94cc-7a9bba8b8884",
          "instanceIdentifier" : "bb792800-1281-3b2f-9570-f7faa6e9f9a4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord - mood",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1144.0,
            "y" : 848.0
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-matched-unmatched",
            "record-path-lookup-miss-result-cache-size" : "0",
            "result-record-path" : "/mood",
            "record-writer" : "a1e29d20-cd61-3335-be16-b97dabeee89f",
            "record-reader" : "be4dda26-751f-3aad-bbc2-3116afd0f889",
            "lookup-service" : "e15765de-622a-38d5-934d-4eecc424482b",
            "record-update-strategy" : "use-property",
            "key" : "concat('mood|',/name)"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "record-path-lookup-miss-result-cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "record-path-lookup-miss-result-cache-size",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "03e05853-f2e5-3ceb-8751-8ec6b5f54603",
          "identifier" : "e1d9e93e-f013-3455-bab1-0f85a7f416cd",
          "instanceIdentifier" : "f4e232f3-b91b-14b9-ffff-ffffff6cdbc3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3248.0,
            "y" : 872.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "name" : "$.name",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "name" : {
              "displayName" : "name",
              "identifiesControllerService" : false,
              "name" : "name",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "RedisConfig" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "RedisConfig",
          "parameters" : [ {
            "description" : "",
            "name" : "RedisPassword",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "RedisConnectionString",
            "provided" : false,
            "sensitive" : false,
            "value" : "redis:6379"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}