Test_Bucket/Windows_File_Path.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "b5315cfa-53ad-3729-8a95-29f1b9941a28",
            "instanceIdentifier" : "d55c48da-5526-3577-8321-feebb1a6ecd0",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "e6547c01-129c-3526-94e1-ba29efb15905",
          "instanceIdentifier" : "d2a2675b-e2c2-3487-9cc5-0c277e75d7af",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "bc064221-f5a9-3987-9c3c-101d080bdedb",
            "instanceIdentifier" : "c1881bdf-f9ef-38de-baf2-d024584b7c23",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "0ec59bb7-678a-3030-81fd-6a7b15366352",
            "instanceIdentifier" : "7230459a-8154-3dbc-83fc-d539e950634b",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "5bf158aa-6c0c-3285-ad10-b0cf171f97b8",
          "instanceIdentifier" : "44e417b9-0181-1000-0000-00000928e0cf",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "3ec6c5ff-4a83-3465-8697-f7d0f392a598",
            "instanceIdentifier" : "44e3e2e2-0181-1000-ffff-ffffc559ac22",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "bc064221-f5a9-3987-9c3c-101d080bdedb",
            "instanceIdentifier" : "c1881bdf-f9ef-38de-baf2-d024584b7c23",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "463b7bb2-85f7-373a-bf68-6706c096ab5d",
          "instanceIdentifier" : "e2a86755-d4c8-3083-9281-cecb4c45e8cb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "491cb304-5793-3852-bcdd-850d846f138d",
            "instanceIdentifier" : "4f321c41-766f-33c5-b6e4-c4638efce340",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "3ec6c5ff-4a83-3465-8697-f7d0f392a598",
            "instanceIdentifier" : "44e3e2e2-0181-1000-ffff-ffffc559ac22",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "d53d3f3c-5cf7-3509-8b95-e47c69cf2a06",
          "instanceIdentifier" : "7c621e9e-bcca-37f0-8124-b93c3faf76ea",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
            "id" : "bc064221-f5a9-3987-9c3c-101d080bdedb",
            "instanceIdentifier" : "c1881bdf-f9ef-38de-baf2-d024584b7c23",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "1f1d1ca7-ce9f-32b6-bfcb-d35fa37329fc",
          "instanceIdentifier" : "66d00158-7e4a-3f9f-a2a5-60fac1039166",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "cae7d794-f6eb-373e-a8b6-d5574798a758",
          "instanceIdentifier" : "df75f399-f351-3927-8194-dffbfe3c407c",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "true",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "0ec59bb7-678a-3030-81fd-6a7b15366352",
          "instanceIdentifier" : "7230459a-8154-3dbc-83fc-d539e950634b",
          "position" : {
            "x" : 968.0,
            "y" : 688.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "b5315cfa-53ad-3729-8a95-29f1b9941a28",
          "instanceIdentifier" : "d55c48da-5526-3577-8321-feebb1a6ecd0",
          "position" : {
            "x" : 1487.5,
            "y" : 270.5
          }
        } ],
        "identifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
        "inputPorts" : [ ],
        "instanceIdentifier" : "43d92504-0181-1000-0000-0000323f1b37",
        "labels" : [ ],
        "name" : "Windows File Path",
        "outputPorts" : [ ],
        "position" : {
          "x" : 454.0,
          "y" : 210.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "3ec6c5ff-4a83-3465-8697-f7d0f392a598",
          "instanceIdentifier" : "44e3e2e2-0181-1000-ffff-ffffc559ac22",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 816.0,
            "y" : 424.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "file_1" : "${input_path:replaceAll('(.*\\\\\\\\)','')}",
            "file_2" : "${input_path:replaceAll('.*\\\\\\\\','')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "file_1" : {
              "displayName" : "file_1",
              "identifiesControllerService" : false,
              "name" : "file_1",
              "sensitive" : false
            },
            "file_2" : {
              "displayName" : "file_2",
              "identifiesControllerService" : false,
              "name" : "file_2",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "bc064221-f5a9-3987-9c3c-101d080bdedb",
          "instanceIdentifier" : "c1881bdf-f9ef-38de-baf2-d024584b7c23",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 816.0,
            "y" : 200.0
          },
          "properties" : {
            "/drive" : "replaceRegex(/fred, '^(.*:).*$', '$1')",
            "/extension2" : "substringAfterLast(replaceRegex(/fred[contains(.,'.')],'^.*\\\\([^\\\\]+)$','$1'),'.')",
            "/filename" : "replaceRegex(/fred,'^.*\\\\([^\\\\]+)$','$1')",
            "/path2" : "replaceRegex(/fred,'^(.*\\\\)[^\\\\]*$','$1')",
            "record-writer" : "cae7d794-f6eb-373e-a8b6-d5574798a758",
            "/extension" : "replaceRegex(/fred[contains(.,'.')],'^.*\\.([^\\\\\\.]*)$','$1')",
            "record-reader" : "1f1d1ca7-ce9f-32b6-bfcb-d35fa37329fc",
            "replacement-value-strategy" : "record-path-value",
            "/path" : "replaceRegex(/fred,'^(.*:)?(.*\\\\)[^\\\\]*$','$2')"
          },
          "propertyDescriptors" : {
            "/drive" : {
              "displayName" : "/drive",
              "identifiesControllerService" : false,
              "name" : "/drive",
              "sensitive" : false
            },
            "/extension2" : {
              "displayName" : "/extension2",
              "identifiesControllerService" : false,
              "name" : "/extension2",
              "sensitive" : false
            },
            "/filename" : {
              "displayName" : "/filename",
              "identifiesControllerService" : false,
              "name" : "/filename",
              "sensitive" : false
            },
            "/path2" : {
              "displayName" : "/path2",
              "identifiesControllerService" : false,
              "name" : "/path2",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "/extension" : {
              "displayName" : "/extension",
              "identifiesControllerService" : false,
              "name" : "/extension",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            },
            "/path" : {
              "displayName" : "/path",
              "identifiesControllerService" : false,
              "name" : "/path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a0d969e0-cadb-311f-a3f2-2447cc73701b",
          "identifier" : "491cb304-5793-3852-bcdd-850d846f138d",
          "instanceIdentifier" : "4f321c41-766f-33c5-b6e4-c4638efce340",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 824.0,
            "y" : -24.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[\n{\"fred\":\"C:\\\\Program Files\\\\fred.exe\"},\n{\"fred\":\"\\\\Program Files\\\\fred.exe\"},\n{\"fred\":\"C:\\\\Program Files\\\\My Dir\\\\not fred.\"},\n{\"fred\":\"C:\\\\Program Files\\\\My Dir\\\\not fred\"},\n{\"fred\":\"C:\\\\Program Files\\\\My.Dir\\\\not fred\"},\n{\"fred\":\"C:\\\\Program Files\\\\My.Dir\\\\not fred.exe\"}\n]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text",
            "input_path" : "C:\\\\Program Files\\\\fred.exe"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            },
            "input_path" : {
              "displayName" : "input_path",
              "identifiesControllerService" : false,
              "name" : "input_path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}