Test_Bucket/Yet_Another_Test_Bed.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "0f5c3a29-d7cd-3096-923b-0b9949e74756",
            "instanceIdentifier" : "08bcc83f-a891-33f8-ba19-8e6921daa900",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "560f0d2c-5bab-3370-b339-4d08f62f1575",
          "instanceIdentifier" : "847a0e81-b609-3b16-a260-b699ad5677a3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "f02e66b5-a598-37ba-8ae4-2a8a176bbf17",
            "instanceIdentifier" : "bbc5daf4-dbe1-35db-a9b5-04f516edf755",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "7797e6b5-5ecf-3b33-a6b6-be6756d69430",
            "instanceIdentifier" : "a0bbd231-f20f-3a46-bb81-ab28667b178c",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "6e59ce1a-d915-318c-9d2c-6f9edd70b8b3",
          "instanceIdentifier" : "5e9b5ac6-e6cd-3744-babd-5624a032303a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2264a737-7ca1-3832-a123-8226732c88f4",
            "instanceIdentifier" : "fbd179c7-2a69-39f8-872c-0e9aaff8e9ea",
            "name" : "GenerateFlowFile - Records",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "40fe768e-c90a-376f-88dd-b1697e419f92",
            "instanceIdentifier" : "03058e8b-1f01-36a3-98ee-78daf03f191d",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "74a4a834-1057-31a2-9d87-370846ccd453",
          "instanceIdentifier" : "87053a62-772b-33f0-8b66-d2f30759a0f8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "bc2c9b80-9625-3b78-bb13-f2d7dbf4d346",
            "instanceIdentifier" : "c6358895-bca6-3b12-a641-099039721b32",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "e30e5312-7850-3022-9baa-3e3d4740e74c",
            "instanceIdentifier" : "2a205387-c352-3aa8-ba1f-fb02bcb3403d",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "9776e4b4-7bca-3391-9889-ba62cb28666c",
          "instanceIdentifier" : "5c894454-bc01-37b5-b9c9-2592a27ef4fd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "bc2c9b80-9625-3b78-bb13-f2d7dbf4d346",
            "instanceIdentifier" : "c6358895-bca6-3b12-a641-099039721b32",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "554d9a03-e6cf-35cf-8572-cac57184b300",
            "instanceIdentifier" : "ae9067e0-0180-1000-0000-00003a6b2c0b",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "c1186cc7-3a7f-35fb-846f-314939cdde36",
          "instanceIdentifier" : "af51e0bc-0180-1000-ffff-ffff85735c57",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "430cc0e1-840f-387a-8d48-be868cf985b3",
            "instanceIdentifier" : "af4f755a-0180-1000-0000-000045bbc776",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "40fe768e-c90a-376f-88dd-b1697e419f92",
            "instanceIdentifier" : "03058e8b-1f01-36a3-98ee-78daf03f191d",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "067a5459-8ddd-3fac-961d-37017d9edd40",
          "instanceIdentifier" : "93748e5e-82c7-30c6-87c8-04fa844b9d62",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "0e1ab822-dd9a-324a-8cbe-37a0b90dcc6b",
            "instanceIdentifier" : "ae3461db-32aa-3cc4-b7e6-66af2d4a9c7b",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "ce63c8f6-7f1c-3c4d-92d5-b0be6f454541",
            "instanceIdentifier" : "9c4f343a-2546-155d-9f78-5afccbb1c50e",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "d404811f-af27-38e7-b2f7-82ac262fe3f3",
          "instanceIdentifier" : "aea43089-0180-1000-0000-00004079e2c4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2efd13e6-788c-3037-aefb-31456907b471",
            "instanceIdentifier" : "aea34249-0180-1000-ffff-ffffc6dd2919",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "3a7bfecc-baf7-3db6-b893-f3170163b886",
            "instanceIdentifier" : "1dc18765-d456-3684-9fca-57d3c75cd315",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "8e5ac23a-eaaf-3045-a79e-dad48e2f1738",
          "instanceIdentifier" : "19c0dfe0-ba31-3e20-8323-a3712807d816",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "40fe768e-c90a-376f-88dd-b1697e419f92",
            "instanceIdentifier" : "03058e8b-1f01-36a3-98ee-78daf03f191d",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "ce63c8f6-7f1c-3c4d-92d5-b0be6f454541",
            "instanceIdentifier" : "9c4f343a-2546-155d-9f78-5afccbb1c50e",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "32c6805a-21cf-3c70-a25d-3bea56dc04c2",
          "instanceIdentifier" : "ae90cec9-0180-1000-ffff-ffffb3649fef",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "fe1def25-0076-36f3-876b-7ccbaff97e13",
            "instanceIdentifier" : "ae8dfa86-0180-1000-0000-00005b0b99f9",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "0f5c3a29-d7cd-3096-923b-0b9949e74756",
            "instanceIdentifier" : "08bcc83f-a891-33f8-ba19-8e6921daa900",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "d5fc48e8-dfdd-3f5a-b37d-58372762c37e",
          "instanceIdentifier" : "4fca2682-b442-3063-8742-e17921d571db",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "7797e6b5-5ecf-3b33-a6b6-be6756d69430",
            "instanceIdentifier" : "a0bbd231-f20f-3a46-bb81-ab28667b178c",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "5f44f528-4752-36f9-a1c0-70c3eb494018",
            "instanceIdentifier" : "548b10a0-0cbc-39ef-b28e-8bca8a7f07ba",
            "name" : "PutTCP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "2423b5a8-0a91-3899-815d-f42cc8faa26b",
          "instanceIdentifier" : "878d924b-4794-343d-bdcd-4f2ad9cd5b64",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "7633a872-17ba-3684-bf75-1afdf253706b",
            "instanceIdentifier" : "973f16a1-a17d-3959-a09f-3b095cbf04c4",
            "name" : "ListenTCP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "bc2c9b80-9625-3b78-bb13-f2d7dbf4d346",
            "instanceIdentifier" : "c6358895-bca6-3b12-a641-099039721b32",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "cbcd078c-8db0-3136-a32b-34a4f74b9a93",
          "instanceIdentifier" : "c900fe02-7e08-3ebc-80a2-b8cf35c67e1a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "f02e66b5-a598-37ba-8ae4-2a8a176bbf17",
            "instanceIdentifier" : "bbc5daf4-dbe1-35db-a9b5-04f516edf755",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "b7fcd13b-b412-31c8-8a2e-3f7878f31a49",
            "instanceIdentifier" : "ef8e7e74-416d-32d5-a862-7568e0d3cc37",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "ef66942b-cf63-3e9e-a532-2f3a320f5a6d",
          "instanceIdentifier" : "9d27729e-b8f6-3278-a32e-37ea617af3db",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "timeout" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "40fe768e-c90a-376f-88dd-b1697e419f92",
            "instanceIdentifier" : "03058e8b-1f01-36a3-98ee-78daf03f191d",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "ceb0c0cd-8415-3177-9e0b-b9a99e4bbf37",
            "instanceIdentifier" : "33472124-2d5e-33f1-bc20-1c7c567a5a18",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "eed30918-6cd0-3bff-b640-d4efc76aaec9",
          "instanceIdentifier" : "3584864e-8800-397b-afb4-9b8ed207f61c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "5f44f528-4752-36f9-a1c0-70c3eb494018",
            "instanceIdentifier" : "548b10a0-0cbc-39ef-b28e-8bca8a7f07ba",
            "name" : "PutTCP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "e21a06c5-111b-3df3-8014-cbafd8f5ca88",
            "instanceIdentifier" : "d8663467-d5c9-3f9b-9b59-5fb7a3eeca6c",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "968bc3cd-d672-3bda-96da-cc0464806c8c",
          "instanceIdentifier" : "1d83dda1-ed0e-3dfd-9961-6efcdf5cd17d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "bc2c9b80-9625-3b78-bb13-f2d7dbf4d346",
            "instanceIdentifier" : "c6358895-bca6-3b12-a641-099039721b32",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "8a4eaade-81b5-30c2-93d4-d53b6554df30",
            "instanceIdentifier" : "82d432cf-4170-32e0-9d5b-f6d2d5593254",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "18b508d6-5170-350c-be24-823cce84c004",
          "instanceIdentifier" : "72517603-a10a-3b6b-b910-759a7cf6a52a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "5f44f528-4752-36f9-a1c0-70c3eb494018",
            "instanceIdentifier" : "548b10a0-0cbc-39ef-b28e-8bca8a7f07ba",
            "name" : "PutTCP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2efd13e6-788c-3037-aefb-31456907b471",
            "instanceIdentifier" : "aea34249-0180-1000-ffff-ffffc6dd2919",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "1 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "1254c9fe-2e69-3341-ab0e-c1829445a559",
          "instanceIdentifier" : "ae90e638-0180-1000-ffff-ffffa10be3db",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2c879ddd-068f-3824-a36f-89d5a1821044",
            "instanceIdentifier" : "ae8d3029-0180-1000-0000-00001ac5ef86",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "f02e66b5-a598-37ba-8ae4-2a8a176bbf17",
            "instanceIdentifier" : "bbc5daf4-dbe1-35db-a9b5-04f516edf755",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "6a169569-c892-3c5f-9f12-f47957b94071",
          "instanceIdentifier" : "15ef7ec4-3869-39d2-a47c-fe1c1a62a036",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "0e1ab822-dd9a-324a-8cbe-37a0b90dcc6b",
            "instanceIdentifier" : "ae3461db-32aa-3cc4-b7e6-66af2d4a9c7b",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "430cc0e1-840f-387a-8d48-be868cf985b3",
            "instanceIdentifier" : "af4f755a-0180-1000-0000-000045bbc776",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "ee03e963-c8ea-3fc2-8837-3806cc740582",
          "instanceIdentifier" : "ae909b66-0180-1000-ffff-fffffb2513da",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "fe1def25-0076-36f3-876b-7ccbaff97e13",
            "instanceIdentifier" : "ae8dfa86-0180-1000-0000-00005b0b99f9",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "ce63c8f6-7f1c-3c4d-92d5-b0be6f454541",
            "instanceIdentifier" : "9c4f343a-2546-155d-9f78-5afccbb1c50e",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "ab308766-f78c-3a97-af5f-22308fb7a332",
          "instanceIdentifier" : "af51bdb4-0180-1000-0000-000075dfe6b0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "430cc0e1-840f-387a-8d48-be868cf985b3",
            "instanceIdentifier" : "af4f755a-0180-1000-0000-000045bbc776",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "5f44f528-4752-36f9-a1c0-70c3eb494018",
            "instanceIdentifier" : "548b10a0-0cbc-39ef-b28e-8bca8a7f07ba",
            "name" : "PutTCP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "22dba3a9-a140-3f09-9224-11755300a8d7",
          "instanceIdentifier" : "bfc20d1a-a210-32ff-8da6-b928a19acdeb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2264a737-7ca1-3832-a123-8226732c88f4",
            "instanceIdentifier" : "fbd179c7-2a69-39f8-872c-0e9aaff8e9ea",
            "name" : "GenerateFlowFile - Records",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "fe1def25-0076-36f3-876b-7ccbaff97e13",
            "instanceIdentifier" : "ae8dfa86-0180-1000-0000-00005b0b99f9",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "3b417be9-51d3-35b7-9510-598318bfa228",
          "instanceIdentifier" : "aea417b6-0180-1000-0000-000044702bd7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "2efd13e6-788c-3037-aefb-31456907b471",
            "instanceIdentifier" : "aea34249-0180-1000-ffff-ffffc6dd2919",
            "name" : "ControlRate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "0e1ab822-dd9a-324a-8cbe-37a0b90dcc6b",
            "instanceIdentifier" : "ae3461db-32aa-3cc4-b7e6-66af2d4a9c7b",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "b1ffc01b-8fc9-3453-ae7c-876027a8d840",
          "instanceIdentifier" : "247dec5f-cc15-3396-8b17-909cb8d5d470",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
            "id" : "7797e6b5-5ecf-3b33-a6b6-be6756d69430",
            "instanceIdentifier" : "a0bbd231-f20f-3a46-bb81-ab28667b178c",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "a2dd5c9e-6bbb-3b2f-bd9b-f7a966c74a0a",
          "instanceIdentifier" : "3d75d7e2-6086-375a-9f24-142b705e93c7",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-registry" : "1e931469-482d-3875-8f7e-2c7a5a579dbd",
            "schema-access-strategy" : "schema-name",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "1a614262-1dc3-35ab-9730-57474575dbf1",
          "instanceIdentifier" : "ae8e9a57-0180-1000-0000-00000e98b032",
          "name" : "InheritJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-registry-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
          } ],
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "1e931469-482d-3875-8f7e-2c7a5a579dbd",
          "instanceIdentifier" : "bd64ad82-4159-38fb-b8b7-d7346e50a903",
          "name" : "AvroSchemaRegistry",
          "properties" : {
            "avro-reg-validated-field-names" : "true",
            "lookup_input" : "{\n  \"type\": \"record\",\n  \"name\": \"lookup_results_input\",\n  \"fields\": [\n    {\n      \"name\": \"Lookups\",\n      \"type\": {\n        \"type\": \"record\",\n        \"name\": \"Lookups_type\",\n        \"fields\": [\n          {\"name\":\"person_str\", \"type\":\"string\"},\n          {\"name\":\"role_str\", \"type\":\"string\"}\n        ]\n      }\n    },\n    {\n      \"name\": \"Enrichment\",\n      \"type\": {\n        \"type\": \"record\",\n        \"name\": \"Enrichment_type\",\n        \"fields\":[\n          {\n            \"type\": \"record\",\n            \"name\": \"person\",\n            \"type\": {\n              \"type\": \"record\",\n              \"name\": \"person_type\",\n              \"fields\":[\n                { \"name\": \"name\", \"type\": \"string\" },\n                { \"name\": \"age\", \"type\": \"int\" }\n              ]\n            }\n          },\n          {\n            \"type\": \"record\",\n            \"name\": \"role\",\n            \"type\": {\n              \"type\": \"record\",\n              \"name\": \"role_type\",\n              \"fields\":[\n                { \"name\": \"name\", \"type\": \"string\" },\n                { \"name\": \"privs\", \"type\": \"string\" }\n              ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\n"
          },
          "propertyDescriptors" : {
            "avro-reg-validated-field-names" : {
              "displayName" : "Validate Field Names",
              "identifiesControllerService" : false,
              "name" : "avro-reg-validated-field-names",
              "sensitive" : false
            },
            "lookup_input" : {
              "displayName" : "lookup_input",
              "identifiesControllerService" : false,
              "name" : "lookup_input",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "81fe2c65-2c2e-31c0-8401-e9dfea88a891",
          "instanceIdentifier" : "8c73ade3-46c9-3703-afa9-1377279e3e5c",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-registry" : "1e931469-482d-3875-8f7e-2c7a5a579dbd",
            "schema-access-strategy" : "schema-name",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.1"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "38f408f0-4beb-3d58-be37-45b494cf0cdb",
          "instanceIdentifier" : "8486c318-700b-3714-851e-c815ce85e8f5",
          "name" : "InferJsonTreeReader",
          "properties" : {
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "e21a06c5-111b-3df3-8014-cbafd8f5ca88",
          "instanceIdentifier" : "d8663467-d5c9-3f9b-9b59-5fb7a3eeca6c",
          "position" : {
            "x" : 938.0,
            "y" : 1197.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "b7fcd13b-b412-31c8-8a2e-3f7878f31a49",
          "instanceIdentifier" : "ef8e7e74-416d-32d5-a862-7568e0d3cc37",
          "position" : {
            "x" : -211.0,
            "y" : 1029.0
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "e30e5312-7850-3022-9baa-3e3d4740e74c",
          "instanceIdentifier" : "2a205387-c352-3aa8-ba1f-fb02bcb3403d",
          "position" : {
            "x" : 1280.0,
            "y" : 1147.0
          }
        } ],
        "identifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
        "inputPorts" : [ ],
        "instanceIdentifier" : "a80536f0-0180-1000-ffff-ffffe168cc93",
        "labels" : [ ],
        "name" : "Yet Another Test Bed",
        "outputPorts" : [ ],
        "position" : {
          "x" : 428.0,
          "y" : 140.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "8a4eaade-81b5-30c2-93d4-d53b6554df30",
          "instanceIdentifier" : "82d432cf-4170-32e0-9d5b-f6d2d5593254",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -440.0,
            "y" : 512.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "bc2c9b80-9625-3b78-bb13-f2d7dbf4d346",
          "instanceIdentifier" : "c6358895-bca6-3b12-a641-099039721b32",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 728.0,
            "y" : 904.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "role" : "[*].Enrichment.role",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "role" : {
              "displayName" : "role",
              "identifiesControllerService" : false,
              "name" : "role",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "ceb0c0cd-8415-3177-9e0b-b9a99e4bbf37",
          "instanceIdentifier" : "33472124-2d5e-33f1-bc20-1c7c567a5a18",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -920.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "2efd13e6-788c-3037-aefb-31456907b471",
          "instanceIdentifier" : "aea34249-0180-1000-ffff-ffffc6dd2919",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ControlRate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2150.667243367935,
            "y" : 391.8391003460207
          },
          "properties" : {
            "Time Duration" : "1 secs",
            "Maximum Rate" : "1 Kb",
            "Rate Control Criteria" : "data rate"
          },
          "propertyDescriptors" : {
            "Time Duration" : {
              "displayName" : "Time Duration",
              "identifiesControllerService" : false,
              "name" : "Time Duration",
              "sensitive" : false
            },
            "Grouping Attribute" : {
              "displayName" : "Grouping Attribute",
              "identifiesControllerService" : false,
              "name" : "Grouping Attribute",
              "sensitive" : false
            },
            "Maximum Rate" : {
              "displayName" : "Maximum Rate",
              "identifiesControllerService" : false,
              "name" : "Maximum Rate",
              "sensitive" : false
            },
            "Rate Controlled Attribute" : {
              "displayName" : "Rate Controlled Attribute",
              "identifiesControllerService" : false,
              "name" : "Rate Controlled Attribute",
              "sensitive" : false
            },
            "Rate Control Criteria" : {
              "displayName" : "Rate Control Criteria",
              "identifiesControllerService" : false,
              "name" : "Rate Control Criteria",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ControlRate",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "7797e6b5-5ecf-3b33-a6b6-be6756d69430",
          "instanceIdentifier" : "a0bbd231-f20f-3a46-bb81-ab28667b178c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 73.0,
            "y" : 473.0
          },
          "properties" : {
            "/Enrichment" : "unescapeJson(/Lookups/person_str)",
            "record-writer" : "81fe2c65-2c2e-31c0-8401-e9dfea88a891",
            "record-reader" : "a2dd5c9e-6bbb-3b2f-bd9b-f7a966c74a0a",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/Enrichment" : {
              "displayName" : "/Enrichment",
              "identifiesControllerService" : false,
              "name" : "/Enrichment",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "40fe768e-c90a-376f-88dd-b1697e419f92",
          "instanceIdentifier" : "03058e8b-1f01-36a3-98ee-78daf03f191d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoinEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : 872.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/Enrichment/role",
            "Timeout" : "10 min",
            "Original Record Reader" : "a2dd5c9e-6bbb-3b2f-bd9b-f7a966c74a0a",
            "Record Writer" : "81fe2c65-2c2e-31c0-8401-e9dfea88a891",
            "Enrichment Record Reader" : "38f408f0-4beb-3d58-be37-45b494cf0cdb",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "0e1ab822-dd9a-324a-8cbe-37a0b90dcc6b",
          "instanceIdentifier" : "ae3461db-32aa-3cc4-b7e6-66af2d4a9c7b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ForkEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : 680.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "5f44f528-4752-36f9-a1c0-70c3eb494018",
          "instanceIdentifier" : "548b10a0-0cbc-39ef-b28e-8bca8a7f07ba",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutTCP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -608.0,
            "y" : 240.0
          },
          "properties" : {
            "Idle Connection Expiration" : "15 seconds",
            "Max Size of Socket Send Buffer" : "1 MB",
            "Timeout" : "10 seconds",
            "Port" : "18081",
            "Hostname" : "172.22.113.189",
            "Connection Per FlowFile" : "false",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Idle Connection Expiration" : {
              "displayName" : "Idle Connection Expiration",
              "identifiesControllerService" : false,
              "name" : "Idle Connection Expiration",
              "sensitive" : false
            },
            "Outgoing Message Delimiter" : {
              "displayName" : "Outgoing Message Delimiter",
              "identifiesControllerService" : false,
              "name" : "Outgoing Message Delimiter",
              "sensitive" : false
            },
            "Max Size of Socket Send Buffer" : {
              "displayName" : "Max Size of Socket Send Buffer",
              "identifiesControllerService" : false,
              "name" : "Max Size of Socket Send Buffer",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Connection Per FlowFile" : {
              "displayName" : "Connection Per FlowFile",
              "identifiesControllerService" : false,
              "name" : "Connection Per FlowFile",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutTCP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "f02e66b5-a598-37ba-8ae4-2a8a176bbf17",
          "instanceIdentifier" : "bbc5daf4-dbe1-35db-a9b5-04f516edf755",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 720.0,
            "y" : 680.0
          },
          "properties" : {
            "/Enrichment" : "unescapeJson(/Lookups/role_str)",
            "record-writer" : "81fe2c65-2c2e-31c0-8401-e9dfea88a891",
            "record-reader" : "a2dd5c9e-6bbb-3b2f-bd9b-f7a966c74a0a",
            "replacement-value-strategy" : "record-path-value"
          },
          "propertyDescriptors" : {
            "/Enrichment" : {
              "displayName" : "/Enrichment",
              "identifiesControllerService" : false,
              "name" : "/Enrichment",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "430cc0e1-840f-387a-8d48-be868cf985b3",
          "instanceIdentifier" : "af4f755a-0180-1000-0000-000045bbc776",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1512.0,
            "y" : 872.0
          },
          "properties" : {
            "jolt-spec" : "[{\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n        \"*\": {\n            \"my_field\": \"=toInteger(@(0))\"\n        }\n    }\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "554d9a03-e6cf-35cf-8572-cac57184b300",
          "instanceIdentifier" : "ae9067e0-0180-1000-0000-00003a6b2c0b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1512.0,
            "y" : 1112.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "2264a737-7ca1-3832-a123-8226732c88f4",
          "instanceIdentifier" : "fbd179c7-2a69-39f8-872c-0e9aaff8e9ea",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile - Records",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : 200.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[\n  {\n    \"Lookups\":\n    {\n      \"person_str\": \"{\\\"person\\\":{\\\"name\\\":\\\"John\\\",\\\"age\\\":30}}\",\n      \"role_str\": \"{\\\"role\\\":{\\\"name\\\":\\\"admin\\\",\\\"privs\\\":\\\"rw\\\"}}\"\n    },\n    \"Enrichment\":{}\n  },\n  {\n    \"Lookups\":\n    {\n      \"person_str\": \"{\\\"person\\\":{\\\"name\\\":\\\"Fred\\\",\\\"age\\\":18}}\",\n      \"role_str\": \"{\\\"role\\\":{\\\"name\\\":\\\"user\\\",\\\"privs\\\":\\\"rw\\\"}}\"\n    }\n  },\n  {\n    \"Lookups\":\n    {\n      \"person_str\": \"{\\\"person\\\":{\\\"name\\\":\\\"Bill\\\",\\\"age\\\":99}}\",\n      \"role_str\": \"{\\\"role\\\":{\\\"name\\\":\\\"user\\\",\\\"privs\\\":\\\"r\\\"}}\"\n    }\n  }\n]\n",
            "Batch Size" : "1",
            "schema.name" : "lookup_input",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "schema.name" : {
              "displayName" : "schema.name",
              "identifiesControllerService" : false,
              "name" : "schema.name",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "ce63c8f6-7f1c-3c4d-92d5-b0be6f454541",
          "instanceIdentifier" : "9c4f343a-2546-155d-9f78-5afccbb1c50e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2184.0,
            "y" : 832.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "fe1def25-0076-36f3-876b-7ccbaff97e13",
          "instanceIdentifier" : "ae8dfa86-0180-1000-0000-00005b0b99f9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1520.0,
            "y" : 568.0
          },
          "properties" : {
            "record-writer" : "1a614262-1dc3-35ab-9730-57474575dbf1",
            "record-reader" : "38f408f0-4beb-3d58-be37-45b494cf0cdb",
            "/my_field" : "${field.value:fromRadix(16)}",
            "replacement-value-strategy" : "literal-value",
            "/field2" : "${field.value:replace(',',${literal(\"\\\\n\")})}"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "/my_field" : {
              "displayName" : "/my_field",
              "identifiesControllerService" : false,
              "name" : "/my_field",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            },
            "/field2" : {
              "displayName" : "/field2",
              "identifiesControllerService" : false,
              "name" : "/field2",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "7633a872-17ba-3684-bf75-1afdf253706b",
          "instanceIdentifier" : "973f16a1-a17d-3959-a09f-3b095cbf04c4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ListenTCP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -613.89907727797,
            "y" : 5.248558246828054
          },
          "properties" : {
            "Max Size of Socket Buffer" : "1 MB",
            "Max Number of TCP Connections" : "2",
            "Max Batch Size" : "1",
            "Port" : "8083",
            "Receive Buffer Size" : "65507 B",
            "Message Delimiter" : "\\n",
            "Character Set" : "UTF-8",
            "Client Auth" : "REQUIRED",
            "Max Size of Message Queue" : "10000",
            "pool-receive-buffers" : "True"
          },
          "propertyDescriptors" : {
            "Max Size of Socket Buffer" : {
              "displayName" : "Max Size of Socket Buffer",
              "identifiesControllerService" : false,
              "name" : "Max Size of Socket Buffer",
              "sensitive" : false
            },
            "Max Number of TCP Connections" : {
              "displayName" : "Max Number of Worker Threads",
              "identifiesControllerService" : false,
              "name" : "Max Number of TCP Connections",
              "sensitive" : false
            },
            "Local Network Interface" : {
              "displayName" : "Local Network Interface",
              "identifiesControllerService" : false,
              "name" : "Local Network Interface",
              "sensitive" : false
            },
            "Max Batch Size" : {
              "displayName" : "Max Batch Size",
              "identifiesControllerService" : false,
              "name" : "Max Batch Size",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "max-receiving-threads" : {
              "displayName" : "Max Number of Receiving Message Handler Threads",
              "identifiesControllerService" : false,
              "name" : "max-receiving-threads",
              "sensitive" : false
            },
            "Receive Buffer Size" : {
              "displayName" : "Receive Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Receive Buffer Size",
              "sensitive" : false
            },
            "Message Delimiter" : {
              "displayName" : "Batching Message Delimiter",
              "identifiesControllerService" : false,
              "name" : "Message Delimiter",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Client Auth" : {
              "displayName" : "Client Auth",
              "identifiesControllerService" : false,
              "name" : "Client Auth",
              "sensitive" : false
            },
            "Max Size of Message Queue" : {
              "displayName" : "Max Size of Message Queue",
              "identifiesControllerService" : false,
              "name" : "Max Size of Message Queue",
              "sensitive" : false
            },
            "pool-receive-buffers" : {
              "displayName" : "Pool Receive Buffers",
              "identifiesControllerService" : false,
              "name" : "pool-receive-buffers",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenTCP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "0f5c3a29-d7cd-3096-923b-0b9949e74756",
          "instanceIdentifier" : "08bcc83f-a891-33f8-ba19-8e6921daa900",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 136.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "2c879ddd-068f-3824-a36f-89d5a1821044",
          "instanceIdentifier" : "ae8d3029-0180-1000-0000-00001ac5ef86",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1512.0,
            "y" : 352.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[\n{\"my_field\":\"a\",\"field2\":\"a,b,c\"},\n{\"my_field\":\"bb\",\"field2\":\"d,e,f\"}\n]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "2aad7cb0-8c3d-3a93-be23-ddf9d3b0c228",
          "identifier" : "3a7bfecc-baf7-3db6-b893-f3170163b886",
          "instanceIdentifier" : "1dc18765-d456-3684-9fca-57d3c75cd315",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : 1088.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}